n8n/workflows/github-pr-clickup-drive-sync.json
{"name":"GO IRL - GitHub PR to ClickUp and Drive Sync (Sanitized)","nodes":[{"parameters":{"authentication":"accessToken","owner":{"__rl":true,"mode":"name","value":"GITHUB_OWNER"},"repository":{"__rl":true,"mode":"name","value":"GITHUB_REPOSITORY"},"events":["pull_request"],"options":{}},"id":"pr-sync-01","name":"GitHub PR Event","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-720,260]},{"parameters":{"jsCode":"const e=$json||{},p=e.pull_request||e.pr||{},r=e.repository||{};const owner=r.owner?.login||e.owner||'GITHUB_OWNER',repository=r.name||e.repository_name||'GITHUB_REPOSITORY',number=+(p.number||e.number||e.pr_number||0),action=String(e.action||'opened');return [{json:{action,supportedAction:['opened','reopened','edited','synchronize','ready_for_review'].includes(action)&&number>0,owner,repository,number,title:String(p.title||e.title||'Untitled PR'),author:String(p.user?.login||e.author||'unknown'),url:String(p.html_url||e.html_url||`https://github.com/${owner}/${repository}/pull/${number}`),base:String(p.base?.ref||e.base||'main'),head:String(p.head?.ref||e.head||'unknown'),state:String(p.state||e.state||'open'),draft:!!(p.draft??e.draft),prKey:`${owner}/${repository}#${number}`}}];"},"id":"pr-sync-02","name":"Normalize PR Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"supported-action-condition","leftValue":"={{ $json.supportedAction }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"pr-sync-03","name":"Is Supported PR Action?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,260]},{"parameters":{"authentication":"accessToken","resource":"pullRequest","operation":"get","owner":"={{ $json.owner }}","repository":"={{ $json.repository }}","pullRequestNumber":"={{ $json.number }}"},"id":"pr-sync-04","name":"Read PR","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[20,160],"onError":"continueErrorOutput"},{"parameters":{"authentication":"accessToken","resource":"pullRequest","operation":"getDiff","owner":"={{ $('Normalize PR Event').first().json.owner }}","repository":"={{ $('Normalize PR Event').first().json.repository }}","pullRequestNumber":"={{ $('Normalize PR Event').first().json.number }}"},"id":"pr-sync-05","name":"Read PR Diff","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[260,160],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const n=$('Normalize PR Event').first().json,p=$('Read PR').first().json||{},d=$('Read PR Diff').first().json||{},diff=String(d.data||d.diff||d.body||d.content||''),files=[...diff.matchAll(/^diff --git a\\/(.+?) b\\/(.+)$/gm)].map(x=>x[2]).filter((x,i,a)=>a.indexOf(x)===i);const c={...n,title:String(p.title||n.title),author:String(p.user?.login||n.author),url:String(p.html_url||n.url),base:String(p.base?.ref||n.base),head:String(p.head?.ref||n.head),state:String(p.state||n.state),draft:!!(p.draft??n.draft),changedFiles:files};c.taskName=`[GitHub PR #${c.number}] ${c.title}`;c.marker=`go_irl_pr_key:${c.prKey}`;c.taskDescription=[c.marker,`Repository: ${c.owner}/${c.repository}`,`PR: #${c.number}`,`Author: ${c.author}`,`State: ${c.state}${c.draft?' (draft)':''}`,`Base/head: ${c.base} <- ${c.head}`,`URL: ${c.url}`,'Changed files:',...(files.length?files.map(x=>`- ${x}`):['- None parsed.']),'GitHub remains the source of truth.'].join('\\n');c.aiReportsFolderId='AI_REPORTS_FOLDER_ID';c.notebookLmReportsFolderId='NOTEBOOKLM_REPORTS_FOLDER_ID';return [{json:c}];"},"id":"pr-sync-06","name":"Build PR Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,160]},{"parameters":{"operation":"getAll","team":"CLICKUP_TEAM_ID","space":"CLICKUP_SPACE_ID","folderless":true,"list":"CLICKUP_LIST_ID","returnAll":true,"filters":{},"authentication":"accessToken","resource":"task"},"id":"pr-sync-07","name":"Get ClickUp Tasks","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[740,160],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const c=$('Build PR Context').first().json,t=$input.all().map(i=>i.json||{}).find(x=>x.name===c.taskName||String(x.description||x.markdown_description||x.text_content||'').includes(c.marker));return [{json:{...c,taskExists:!!t?.id,existingTaskId:t?.id?String(t.id):''}}];"},"id":"pr-sync-08","name":"Find Existing ClickUp Task","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"task-exists-condition","leftValue":"={{ $json.taskExists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"pr-sync-09","name":"ClickUp Task Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1220,160]},{"parameters":{"operation":"update","id":"={{ $json.existingTaskId }}","updateFields":{"name":"={{ $json.taskName }}","content":"={{ $json.taskDescription }}","markdownContent":true},"authentication":"accessToken","resource":"task"},"id":"pr-sync-10","name":"Update ClickUp Task","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1460,60],"onError":"continueErrorOutput"},{"parameters":{"team":"CLICKUP_TEAM_ID","space":"CLICKUP_SPACE_ID","folderless":true,"list":"CLICKUP_LIST_ID","name":"={{ $json.taskName }}","additionalFields":{"content":"={{ $json.taskDescription }}","markdownContent":true},"authentication":"accessToken","resource":"task","operation":"create"},"id":"pr-sync-11","name":"Create ClickUp Task","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1460,260],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const c=$('Build PR Context').first().json,l=$('Find Existing ClickUp Task').first().json,o=$json||{},now=new Date(),date=now.toISOString().slice(0,10),next=new Date(+now+604800000).toISOString().slice(0,10),slug=`${c.owner}-${c.repository}`.toLowerCase().replace(/[^a-z0-9._-]+/g,'-'),reportFileName=`github-pr-${slug}-${c.number}-agent-report.md`,act=l.taskExists?'updated':'created',id=String(o.id||l.existingTaskId||'unknown'),files=c.changedFiles.length?c.changedFiles.map(x=>`- \\`${x}\\``):['- No filenames parsed.'];const reportContent=['---',`title: ${JSON.stringify(`Agent Report - ${c.owner}/${c.repository} PR #${c.number}`)}`,'owner: n8n GitHub PR Sync','status: Draft','source_of_truth: false',`last_review: ${date}`,`next_review: ${next}`,'---','','# Agent Report','','> Automated mirror only. GitHub is the source of truth. No LLM or OpenAI API was used.','','## Task',`Synchronize [${c.owner}/${c.repository} PR #${c.number}](${c.url}).`,'','## Files inspected',...files,'','## Findings',`- Title: ${c.title}`,`- Author: ${c.author}`,`- State: ${c.state}${c.draft?' (draft)':''}`,`- Base/head: ${c.base} <- ${c.head}`,'','## Changes made',`- ClickUp task ${act}: ${id}.`,'- Replaced Drive and NotebookLM mirror reports.','- No GitHub write occurred.','','## Checks',`- PR key: ${c.prKey}.`,'- No LLM node is present.','','## Next step','- Human review in GitHub and ClickUp.',`Generated: ${now.toISOString()}`].join('\\n');return [{json:{...c,clickupAction:act,clickupTaskId:id,reportFileName,reportContent,telegramMessage:['GO IRL PR sync completed',c.prKey,`${act.toUpperCase()} ClickUp task: ${id}`,reportFileName,c.url].join('\\n')}}];"},"id":"pr-sync-12","name":"Generate Agent Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1710,160]},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"={{ \"'\" + $json.aiReportsFolderId + \"' in parents and name = '\" + $json.reportFileName + \"' and trashed = false\" }}","returnAll":true,"filter":{},"options":{"fields":["id","name"]},"operation":"search"},"id":"pr-sync-13","name":"Search AI Reports File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1950,160],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const c=$('Generate Agent Report').first().json,a=$input.all().map(i=>i.json||{}),f=a.find(x=>x.id&&x.name===c.reportFileName)||a.find(x=>x.id);return [{json:{...c,driveFileExists:!!f?.id,existingDriveFileId:f?.id?String(f.id):''}}];"},"id":"pr-sync-14","name":"Select Existing AI Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[2190,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ai-report-exists-condition","leftValue":"={{ $json.driveFileExists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"pr-sync-15","name":"AI Report Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2430,160]},{"parameters":{"resource":"file","operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $json.existingDriveFileId }}"},"options":{}},"id":"pr-sync-16","name":"Delete Existing AI Report","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2670,60],"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"createFromText","name":"={{ $('Generate Agent Report').first().json.reportFileName }}","content":"={{ $('Generate Agent Report').first().json.reportContent }}","folderId":{"__rl":true,"mode":"id","value":"={{ $('Generate Agent Report').first().json.aiReportsFolderId }}"},"options":{}},"id":"pr-sync-17","name":"Create AI Report","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2910,160],"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"={{ \"'\" + $('Generate Agent Report').first().json.notebookLmReportsFolderId + \"' in parents and name = '\" + $('Generate Agent Report').first().json.reportFileName + \"' and trashed = false\" }}","returnAll":true,"filter":{},"options":{"fields":["id","name"]},"operation":"search"},"id":"pr-sync-18","name":"Search NotebookLM Export File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3150,160],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const c=$('Generate Agent Report').first().json,a=$input.all().map(i=>i.json||{}),f=a.find(x=>x.id&&x.name===c.reportFileName)||a.find(x=>x.id);return [{json:{...c,notebookFileExists:!!f?.id,existingNotebookFileId:f?.id?String(f.id):''}}];"},"id":"pr-sync-19","name":"Select Existing NotebookLM File","type":"n8n-nodes-base.code","typeVersion":2,"position":[3390,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"notebook-report-exists-condition","leftValue":"={{ $json.notebookFileExists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"pr-sync-20","name":"NotebookLM File Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3630,160]},{"parameters":{"resource":"file","operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $json.existingNotebookFileId }}"},"options":{}},"id":"pr-sync-21","name":"Delete Existing NotebookLM File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3870,60],"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"createFromText","name":"={{ $('Generate Agent Report').first().json.reportFileName }}","content":"={{ $('Generate Agent Report').first().json.reportContent }}","folderId":{"__rl":true,"mode":"id","value":"={{ $('Generate Agent Report').first().json.notebookLmReportsFolderId }}"},"options":{}},"id":"pr-sync-22","name":"Create NotebookLM Export File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4110,160],"onError":"continueErrorOutput"},{"parameters":{"chatId":"TELEGRAM_CHAT_ID","text":"={{ $('Generate Agent Report').first().json.telegramMessage }}","additionalFields":{}},"id":"pr-sync-23","name":"Telegram Success Notify","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[4350,160]},{"parameters":{},"id":"pr-sync-24","name":"Ignore Unsupported Action","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,360]},{"parameters":{"jsCode":"let c={};try{c=$('Build PR Context').first().json}catch(e){try{c=$('Normalize PR Event').first().json}catch(_){}}const i=$input.first()?.json||{},m=String(i.message||i.error?.message||i.description||i.error||'Unknown sync error');return [{json:{...c,telegramErrorMessage:['GO IRL PR sync failed',c.prKey||'PR unavailable',m.slice(0,1200),c.url||''].filter(Boolean).join('\\n')}}];"},"id":"pr-sync-25","name":"Build Error Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[3150,520]},{"parameters":{"chatId":"TELEGRAM_CHAT_ID","text":"={{ $json.telegramErrorMessage }}","additionalFields":{}},"id":"pr-sync-26","name":"Telegram Error Notify","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[3390,520]},{"parameters":{},"id":"pr-sync-27","name":"Manual Trigger - Dry Run","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,760]},{"parameters":{"jsCode":"const reportContent=['---','title: Agent Report','owner: n8n GitHub PR Sync','status: Draft','source_of_truth: false','last_review: 2026-07-12','next_review: 2026-07-19','---','','# Agent Report','','## Task','Dry-run deterministic PR synchronization.','','## Files inspected','- Synthetic payload.','','## Findings','- Structure ready for credential binding.','','## Changes made','- No external write.','','## Checks','- Template generated.','','## Next step','- Test with a disposable PR.'].join('\\n');return [{json:{dryRun:true,prKey:'vitvolny26-art/GO-IRL-1.0#999',reportFileName:'github-pr-vitvolny26-art-go-irl-1.0-999-agent-report.md',reportContent}}];"},"id":"pr-sync-28","name":"Build Dry Run Preview","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,760]},{"parameters":{},"id":"pr-sync-29","name":"Dry Run Complete","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,760]}],"connections":{"GitHub PR Event":{"main":[[{"node":"Normalize PR Event","type":"main","index":0}]]},"Normalize PR Event":{"main":[[{"node":"Is Supported PR Action?","type":"main","index":0}]]},"Is Supported PR Action?":{"main":[[{"node":"Read PR","type":"main","index":0}],[{"node":"Ignore Unsupported Action","type":"main","index":0}]]},"Read PR":{"main":[[{"node":"Read PR Diff","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Read PR Diff":{"main":[[{"node":"Build PR Context","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Build PR Context":{"main":[[{"node":"Get ClickUp Tasks","type":"main","index":0}]]},"Get ClickUp Tasks":{"main":[[{"node":"Find Existing ClickUp Task","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Find Existing ClickUp Task":{"main":[[{"node":"ClickUp Task Exists?","type":"main","index":0}]]},"ClickUp Task Exists?":{"main":[[{"node":"Update ClickUp Task","type":"main","index":0}],[{"node":"Create ClickUp Task","type":"main","index":0}]]},"Update ClickUp Task":{"main":[[{"node":"Generate Agent Report","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Create ClickUp Task":{"main":[[{"node":"Generate Agent Report","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Generate Agent Report":{"main":[[{"node":"Search AI Reports File","type":"main","index":0}]]},"Search AI Reports File":{"main":[[{"node":"Select Existing AI Report","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Select Existing AI Report":{"main":[[{"node":"AI Report Exists?","type":"main","index":0}]]},"AI Report Exists?":{"main":[[{"node":"Delete Existing AI Report","type":"main","index":0}],[{"node":"Create AI Report","type":"main","index":0}]]},"Delete Existing AI Report":{"main":[[{"node":"Create AI Report","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Create AI Report":{"main":[[{"node":"Search NotebookLM Export File","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Search NotebookLM Export File":{"main":[[{"node":"Select Existing NotebookLM File","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Select Existing NotebookLM File":{"main":[[{"node":"NotebookLM File Exists?","type":"main","index":0}]]},"NotebookLM File Exists?":{"main":[[{"node":"Delete Existing NotebookLM File","type":"main","index":0}],[{"node":"Create NotebookLM Export File","type":"main","index":0}]]},"Delete Existing NotebookLM File":{"main":[[{"node":"Create NotebookLM Export File","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Create NotebookLM Export File":{"main":[[{"node":"Telegram Success Notify","type":"main","index":0}],[{"node":"Build Error Notification","type":"main","index":0}]]},"Build Error Notification":{"main":[[{"node":"Telegram Error Notify","type":"main","index":0}]]},"Manual Trigger - Dry Run":{"main":[[{"node":"Build Dry Run Preview","type":"main","index":0}]]},"Build Dry Run Preview":{"main":[[{"node":"Dry Run Complete","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveManualExecutions":true}}
