n8n/workflows/github-pr-clickup-drive-sync.json
{"name":"GO IRL - GitHub PR to ClickUp and Drive Sync","nodes":[{"parameters":{"authentication":"accessToken","owner":{"__rl":true,"mode":"name","value":"vitvolny26-art"},"repository":{"__rl":true,"mode":"name","value":"GO-IRL-1.0"},"events":["pull_request"],"options":{}},"id":"b5f44c42-0c4c-4f9e-a385-268bf4b0f9f7","name":"GitHub PR Trigger (Connect Credential)","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[0,0],"disabled":true},{"parameters":{},"id":"38be7a8f-740d-4f6a-80b6-ec0062db170c","name":"Manual Trigger (Dry Run)","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,240],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"action","name":"action","value":"opened","type":"string"},{"id":"repo","name":"repository_full_name","value":"vitvolny26-art/GO-IRL-1.0","type":"string"},{"id":"number","name":"pr_number","value":67,"type":"number"},{"id":"title","name":"pr_title","value":"feat(n8n): add mission orchestration workflow skeletons","type":"string"},{"id":"body","name":"pr_body","value":"Dry-run payload. No external call is permitted.","type":"string"},{"id":"url","name":"pr_url","value":"https://github.com/vitvolny26-art/GO-IRL-1.0/pull/67","type":"string"},{"id":"state","name":"pr_state","value":"open","type":"string"},{"id":"draft","name":"pr_draft","value":true,"type":"boolean"},{"id":"head","name":"head_ref","value":"feat/n8n-mission-orchestration-skeletons","type":"string"},{"id":"base","name":"base_ref","value":"main","type":"string"},{"id":"author","name":"author_login","value":"vitvolny26-art","type":"string"}]},"options":{}},"id":"0bb70c7d-6746-47df-ae71-5ae7b076d650","name":"Mock PR Opened","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,240]},{"parameters":{"jsCode":"const input = $json || {};\nconst body = input.body && typeof input.body === 'object' ? input.body : input;\nconst pr = body.pull_request && typeof body.pull_request === 'object' ? body.pull_request : body;\nconst repository = body.repository && typeof body.repository === 'object' ? body.repository : {};\nconst action = String(body.action || input.action || 'opened');\nconst prNumber = Number(pr.number || body.number || input.pr_number || 0);\nconst repositoryFullName = String(repository.full_name || input.repository_full_name || 'vitvolny26-art/GO-IRL-1.0');\nconst title = String(pr.title || input.pr_title || 'Untitled pull request');\nconst prBody = String(pr.body || input.pr_body || '');\nconst prUrl = String(pr.html_url || input.pr_url || '');\nconst state = String(pr.state || input.pr_state || 'open');\nconst draft = Boolean(pr.draft ?? input.pr_draft ?? false);\nconst headRef = String(pr.head?.ref || input.head_ref || '');\nconst baseRef = String(pr.base?.ref || input.base_ref || 'main');\nconst authorLogin = String(pr.user?.login || input.author_login || 'unknown');\nconst supportedActions = ['opened', 'reopened', 'synchronize', 'edited', 'ready_for_review', 'closed'];\nconst syncKey = repositoryFullName + '#PR-' + prNumber;\nconst taskName = '[GO IRL PR #' + prNumber + '] ' + title;\nconst reportFileName = 'github-pr-' + prNumber + '-agent-report.md';\nreturn [{\n  json: {\n    action,\n    supported_action: supportedActions.includes(action),\n    repository_full_name: repositoryFullName,\n    pr_number: prNumber,\n    pr_title: title,\n    pr_body: prBody,\n    pr_url: prUrl,\n    pr_state: state,\n    pr_draft: draft,\n    head_ref: headRef,\n    base_ref: baseRef,\n    author_login: authorLogin,\n    sync_key: syncKey,\n    clickup_task_name: taskName,\n    report_file_name: reportFileName,\n    runtime: {\n      orchestrator: 'https://github.com/vitvolny26-art/GO-IRL-1.0/blob/main/scripts/ai-orchestrator/orchestrator.cjs',\n      mission_intake: 'https://github.com/vitvolny26-art/GO-IRL-1.0/blob/main/scripts/ai-orchestrator/mission-intake.cjs',\n      json_bridge: 'https://github.com/vitvolny26-art/GO-IRL-1.0/blob/main/scripts/ai-orchestrator/bridge.cjs',\n      workflow: 'https://github.com/vitvolny26-art/GO-IRL-1.0/blob/main/scripts/ai-orchestrator/runtime/workflow.cjs',\n      pr_60: 'https://github.com/vitvolny26-art/GO-IRL-1.0/pull/60',\n      pr_64: 'https://github.com/vitvolny26-art/GO-IRL-1.0/pull/64'\n    },\n    runtime_invoked: false\n  }\n}];"},"id":"3bb90ec8-c11d-4500-a5cb-94b8430bf76d","name":"Normalize PR Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"supported-action","leftValue":"={{ $json.supported_action }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e16b32fd-f93a-4529-a922-93af930454fc","name":"Supported PR Action?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[720,96]},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"ignored","type":"string"},{"id":"reason","name":"reason","value":"Unsupported pull request action","type":"string"}]},"options":{}},"id":"706d26b0-0879-4097-b7bf-fd60970f6675","name":"Ignored PR Event","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,288]},{"parameters":{"authentication":"accessToken","resource":"task","operation":"getAll","team":"90121889124","space":"90128278475","folderless":true,"list":"901219478483","returnAll":true,"filters":{"archived":false}},"id":"3d9070b6-f029-49fd-ae71-e80bf935f7a7","name":"Get ClickUp Tasks (Connect Credential)","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[960,0],"disabled":true,"alwaysOutputData":true},{"parameters":{"jsCode":"const pr = $('Normalize PR Payload').first().json;\nconst tasks = $input.all().map((item) => item.json || {}).filter((item) => item.id || item.name);\nconst existing = tasks.find((task) => {\n  const name = String(task.name || '');\n  const content = String(task.markdown_description || task.description || task.content || '');\n  return name === pr.clickup_task_name || content.includes('Sync key: ' + pr.sync_key);\n});\nconst statusMap = {\n  opened: 'open',\n  reopened: 'open',\n  synchronize: 'in progress',\n  edited: 'open',\n  ready_for_review: 'in review',\n  closed: 'closed'\n};\nconst description = [\n  'GitHub source of truth: ' + pr.pr_url,\n  '',\n  'Repository: ' + pr.repository_full_name,\n  'PR: #' + pr.pr_number,\n  'Action: ' + pr.action,\n  'State: ' + pr.pr_state,\n  'Draft: ' + pr.pr_draft,\n  'Head: ' + pr.head_ref,\n  'Base: ' + pr.base_ref,\n  'Author: ' + pr.author_login,\n  'Sync key: ' + pr.sync_key,\n  '',\n  'Runtime orchestrator: ' + pr.runtime.orchestrator,\n  'Mission Intake: ' + pr.runtime.mission_intake,\n  'JSON Bridge: ' + pr.runtime.json_bridge,\n  'Runtime Workflow: ' + pr.runtime.workflow,\n  '',\n  'Runtime execution is not performed by this sync workflow.'\n].join('\\n');\nreturn [{ json: {\n  ...pr,\n  clickup_task_exists: Boolean(existing?.id),\n  clickup_task_id: existing?.id || '',\n  clickup_status: statusMap[pr.action] || 'open',\n  clickup_description: description\n} }];"},"id":"ffbb4cb9-dce6-4cd9-a011-ef839550c3bc","name":"Resolve ClickUp Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"task-exists","leftValue":"={{ $json.clickup_task_exists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f25b76de-593d-4ef4-867c-96c8eab1a2bd","name":"ClickUp Task Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1440,0]},{"parameters":{"authentication":"accessToken","resource":"task","operation":"update","id":"={{ $json.clickup_task_id }}","updateFields":{"name":"={{ $json.clickup_task_name }}","content":"={{ $json.clickup_description }}","markdownContent":true,"status":"={{ $json.clickup_status }}","notifyAll":false}},"id":"78242ccd-e35d-408c-b216-2367c8e006d1","name":"Update ClickUp Task (Connect Credential)","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1680,-96],"disabled":true},{"parameters":{"authentication":"accessToken","resource":"task","operation":"create","team":"90121889124","space":"90128278475","folderless":true,"list":"901219478483","name":"={{ $json.clickup_task_name }}","additionalFields":{"content":"={{ $json.clickup_description }}","markdownContent":true,"status":"={{ $json.clickup_status }}","priority":3,"notifyAll":false}},"id":"8ea380ca-759d-41ff-9d33-7ee78c89b835","name":"Create ClickUp Task (Connect Credential)","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1680,96],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"operation","name":"clickup_operation","value":"update","type":"string"},{"id":"task-id","name":"clickup_task_id","value":"={{ $json.id || $json.clickup_task_id || \"\" }}","type":"string"}]},"options":{"includeOtherFields":true}},"id":"ea0c1720-936f-47d7-ac21-29e31f229a17","name":"Record ClickUp Update","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,-96]},{"parameters":{"assignments":{"assignments":[{"id":"operation","name":"clickup_operation","value":"create","type":"string"},{"id":"task-id","name":"clickup_task_id","value":"={{ $json.id || \"\" }}","type":"string"}]},"options":{"includeOtherFields":true}},"id":"cc6159fb-4a5e-478c-917f-e4cb7789efdf","name":"Record ClickUp Create","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,96]},{"parameters":{"mode":"append"},"id":"df85a5df-c8fa-4d1b-9098-7ae043451bc5","name":"Merge ClickUp Branches","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,0]},{"parameters":{"jsCode":"const pr = $('Normalize PR Payload').first().json;\nconst resolved = $('Resolve ClickUp Upsert').first().json;\nconst now = new Date();\nconst review = now.toISOString().slice(0, 10);\nconst next = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\nconst clickupOperation = String($json.clickup_operation || (resolved.clickup_task_exists ? 'update' : 'create'));\nconst clickupTaskId = String($json.clickup_task_id || resolved.clickup_task_id || 'pending-credential-setup');\nconst lines = [\n  '---',\n  'title: Agent Report',\n  'owner: n8n Orchestration',\n  'status: Draft',\n  'source_of_truth: false',\n  'last_review: ' + review,\n  'next_review: ' + next,\n  '---',\n  '',\n  '# Agent Report',\n  '',\n  '## Task',\n  '',\n  'Synchronize GitHub PR #' + pr.pr_number + ' with ClickUp and Google Drive.',\n  '',\n  '## Files inspected',\n  '',\n  '- GitHub PR: ' + pr.pr_url,\n  '- Runtime orchestrator: ' + pr.runtime.orchestrator,\n  '- Mission Intake: ' + pr.runtime.mission_intake,\n  '- JSON Bridge: ' + pr.runtime.json_bridge,\n  '- Runtime Workflow: ' + pr.runtime.workflow,\n  '- JSON Bridge implementation history: ' + pr.runtime.pr_60,\n  '- Mission Intake implementation history: ' + pr.runtime.pr_64,\n  '',\n  '## Findings',\n  '',\n  '- GitHub remains the source of truth.',\n  '- PR action: ' + pr.action + '.',\n  '- PR state: ' + pr.pr_state + '.',\n  '- Runtime CLI is implemented in main but is not invoked by this sync workflow.',\n  '- Sync key: ' + pr.sync_key + '.',\n  '',\n  '## Changes made',\n  '',\n  '- ClickUp operation: ' + clickupOperation + '.',\n  '- ClickUp task ID: ' + clickupTaskId + '.',\n  '- Google Drive report target: ' + pr.report_file_name + '.',\n  '- No application runtime, schema, contract, auth, RLS, migration, or secret was changed.',\n  '',\n  '## Checks',\n  '',\n  '- Deterministic report generation: PASS',\n  '- LLM API calls: NONE',\n  '- Runtime CLI execution: NONE',\n  '- Automatic GitHub write or merge: NONE',\n  '',\n  '## Next step',\n  '',\n  'Human reviews the ClickUp task and Drive report before any Runtime mission is approved.'\n];\nconst reportMarkdown = lines.join('\\n');\nreturn [{ json: {\n  ...pr,\n  clickup_operation: clickupOperation,\n  clickup_task_id: clickupTaskId,\n  report_markdown: reportMarkdown,\n  report_file_name: pr.report_file_name\n} }];"},"id":"9ce6a4df-82c3-46c2-b23f-75dd31f0f50a","name":"Build Agent Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,0]},{"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"query","queryString":"={{ \"name = '\" + $json.report_file_name + \"' and trashed = false\" }}","returnAll":false,"limit":1,"filter":{"folderId":{"__rl":true,"mode":"id","value":"1skcboyr_rPQOFN34iwMAqRvf97BYVllJ"},"whatToSearch":"files","includeTrashed":false},"options":{"fields":["id","name","webViewLink"]}},"id":"8790b14e-f9fe-4392-b2cc-0dd0694fb483","name":"Search Drive Report (Connect Credential)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2640,0],"disabled":true,"alwaysOutputData":true},{"parameters":{"jsCode":"const report = $('Build Agent Report').first().json;\nconst files = $input.all().map((item) => item.json || {}).filter((item) => item.id);\nconst existing = files[0] || null;\nconst binary = {\n  data: {\n    data: Buffer.from(report.report_markdown, 'utf8').toString('base64'),\n    mimeType: 'text/markdown',\n    fileName: report.report_file_name,\n    fileExtension: 'md'\n  }\n};\nreturn [{\n  json: {\n    ...report,\n    drive_file_exists: Boolean(existing?.id),\n    drive_file_id: existing?.id || '',\n    drive_web_view_link: existing?.webViewLink || ''\n  },\n  binary\n}];"},"id":"9fe8ab97-9f03-4754-a7cf-f63bf40f5ea8","name":"Resolve Drive Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"drive-file-exists","leftValue":"={{ $json.drive_file_exists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"48fe7741-0de7-45de-9b99-09623659e3a1","name":"Drive Report Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3120,0]},{"parameters":{"resource":"file","operation":"update","fileId":{"__rl":true,"mode":"id","value":"={{ $json.drive_file_id }}"},"changeFileContent":true,"inputDataFieldName":"data","newUpdatedFileName":"={{ $json.report_file_name }}","options":{"fields":["id","name","webViewLink"]}},"id":"46c81cfa-75c8-4262-a4ad-e666df810c92","name":"Update Drive Report (Connect Credential)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,-96],"disabled":true},{"parameters":{"resource":"file","operation":"createFromText","content":"={{ $json.report_markdown }}","name":"={{ $json.report_file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1skcboyr_rPQOFN34iwMAqRvf97BYVllJ"},"options":{"convertToGoogleDocument":false}},"id":"06bc14b1-62c0-40d7-8348-c674ba247f40","name":"Create Drive Report (Connect Credential)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,96],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"operation","name":"drive_operation","value":"update","type":"string"},{"id":"file-id","name":"drive_file_id","value":"={{ $json.id || $json.drive_file_id || \"\" }}","type":"string"}]},"options":{"includeOtherFields":true}},"id":"b3a7f220-54b3-4e41-b3d8-caccc05e018d","name":"Record Drive Update","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3600,-96]},{"parameters":{"assignments":{"assignments":[{"id":"operation","name":"drive_operation","value":"create","type":"string"},{"id":"file-id","name":"drive_file_id","value":"={{ $json.id || \"\" }}","type":"string"}]},"options":{"includeOtherFields":true}},"id":"08c41126-4b44-4e03-90ef-a8df9aa6edcb","name":"Record Drive Create","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3600,96]},{"parameters":{"mode":"append"},"id":"31ed633b-7ee8-4084-8c8a-5b9d6c0d14e6","name":"Merge Drive Branches","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3840,0]},{"parameters":{"assignments":{"assignments":[{"id":"runtime-invoked","name":"runtime_invoked","value":false,"type":"boolean"},{"id":"runtime-cli","name":"runtime_cli","value":"scripts/ai-orchestrator/orchestrator.cjs","type":"string"},{"id":"mission-intake","name":"mission_intake_cli","value":"scripts/ai-orchestrator/mission-intake.cjs","type":"string"},{"id":"json-bridge","name":"json_bridge_cli","value":"scripts/ai-orchestrator/bridge.cjs","type":"string"}]},"options":{"includeOtherFields":true}},"id":"847ec0b7-a7a5-4f66-837e-f2ab7c38a3c9","name":"Runtime Reference (No Execution)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,0]},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"Mission completed","type":"string"},{"id":"workflow-status","name":"workflow_status","value":"github_pr_clickup_drive_synced","type":"string"},{"id":"source-of-truth","name":"source_of_truth","value":"GitHub","type":"string"}]},"options":{"includeOtherFields":true}},"id":"44b23165-57cc-4a84-9226-49e322ab8d23","name":"Sync Complete","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4320,0]}],"connections":{"GitHub PR Trigger (Connect Credential)":{"main":[[{"node":"Normalize PR Payload","type":"main","index":0}]]},"Manual Trigger (Dry Run)":{"main":[[{"node":"Mock PR Opened","type":"main","index":0}]]},"Mock PR Opened":{"main":[[{"node":"Normalize PR Payload","type":"main","index":0}]]},"Normalize PR Payload":{"main":[[{"node":"Supported PR Action?","type":"main","index":0}]]},"Supported PR Action?":{"main":[[{"node":"Get ClickUp Tasks (Connect Credential)","type":"main","index":0}],[{"node":"Ignored PR Event","type":"main","index":0}]]},"Get ClickUp Tasks (Connect Credential)":{"main":[[{"node":"Resolve ClickUp Upsert","type":"main","index":0}]]},"Resolve ClickUp Upsert":{"main":[[{"node":"ClickUp Task Exists?","type":"main","index":0}]]},"ClickUp Task Exists?":{"main":[[{"node":"Update ClickUp Task (Connect Credential)","type":"main","index":0}],[{"node":"Create ClickUp Task (Connect Credential)","type":"main","index":0}]]},"Update ClickUp Task (Connect Credential)":{"main":[[{"node":"Record ClickUp Update","type":"main","index":0}]]},"Create ClickUp Task (Connect Credential)":{"main":[[{"node":"Record ClickUp Create","type":"main","index":0}]]},"Record ClickUp Update":{"main":[[{"node":"Merge ClickUp Branches","type":"main","index":0}]]},"Record ClickUp Create":{"main":[[{"node":"Merge ClickUp Branches","type":"main","index":1}]]},"Merge ClickUp Branches":{"main":[[{"node":"Build Agent Report","type":"main","index":0}]]},"Build Agent Report":{"main":[[{"node":"Search Drive Report (Connect Credential)","type":"main","index":0}]]},"Search Drive Report (Connect Credential)":{"main":[[{"node":"Resolve Drive Upsert","type":"main","index":0}]]},"Resolve Drive Upsert":{"main":[[{"node":"Drive Report Exists?","type":"main","index":0}]]},"Drive Report Exists?":{"main":[[{"node":"Update Drive Report (Connect Credential)","type":"main","index":0}],[{"node":"Create Drive Report (Connect Credential)","type":"main","index":0}]]},"Update Drive Report (Connect Credential)":{"main":[[{"node":"Record Drive Update","type":"main","index":0}]]},"Create Drive Report (Connect Credential)":{"main":[[{"node":"Record Drive Create","type":"main","index":0}]]},"Record Drive Update":{"main":[[{"node":"Merge Drive Branches","type":"main","index":0}]]},"Record Drive Create":{"main":[[{"node":"Merge Drive Branches","type":"main","index":1}]]},"Merge Drive Branches":{"main":[[{"node":"Runtime Reference (No Execution)","type":"main","index":0}]]},"Runtime Reference (No Execution)":{"main":[[{"node":"Sync Complete","type":"main","index":0}]]}},"pinData":{},"active":false,"settings":{"executionOrder":"v1","timezone":"Europe/Prague"},"versionId":"ea4a2d36-3d68-46ea-8344-c5c7af6df711","meta":{"templateCredsSetupCompleted":false},"tags":[]}
