n8n/workflows/go-irl-ai-staff-os-structural-test.json
{
  "name": "GO IRL — AI Staff OS Structural Test (Sanitized)",
  "nodes": [
    {
      "parameters": {},
      "id": "c8863c47-b3f2-4f45-832e-774ed5bce8c8",
      "name": "STAFF-00 Mission Trigger (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        832
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"title\": \"Draft beta onboarding checklist\",\n  \"objective\": \"Produce a report-only onboarding checklist for the Olomouc closed beta.\",\n  \"expected_deliverable\": \"A markdown checklist document with review notes.\",\n  \"business_reason\": \"Improve first-run experience for beta testers.\",\n  \"priority\": \"normal\",\n  \"maximum_budget_usd\": 0.75,\n  \"requested_by\": \"owner\",\n  \"source\": \"owner\"\n}",
        "options": {}
      },
      "id": "670205ae-665c-41a0-929b-efb4f3e20a22",
      "name": "STAFF-00 Raw Mission Input (Sample)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst raw = ($json && typeof $json === 'object') ? $json : {};\nconst errors = [];\n\n// ---- deterministic string hash (djb2) -------------------------------------\nfunction hashStr(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) { h = ((h * 33) ^ s.charCodeAt(i)) >>> 0; }\n  return ('00000000' + h.toString(16)).slice(-8);\n}\nfunction trimOrEmpty(v) { return (v === null || v === undefined) ? '' : String(v).trim(); }\n\n// ---- required fields ------------------------------------------------------\nconst title = trimOrEmpty(raw.title);\nconst objective = trimOrEmpty(raw.objective);\nconst expected_deliverable = trimOrEmpty(raw.expected_deliverable);\nif (!title) errors.push('Missing required field: title.');\nif (!objective) errors.push('Missing required field: objective.');\nif (!expected_deliverable) errors.push('Missing required field: expected_deliverable.');\n\n// ---- enums with defaults --------------------------------------------------\nconst allowedPriority = ['low', 'normal', 'high', 'critical'];\nlet priority = trimOrEmpty(raw.priority).toLowerCase();\nif (!priority) { priority = 'normal'; }\nelse if (allowedPriority.indexOf(priority) === -1) { errors.push('Invalid priority: ' + priority + '.'); priority = 'normal'; }\n\nconst allowedSource = ['owner', 'github_issue', 'manual', 'scheduled'];\nlet source = trimOrEmpty(raw.source).toLowerCase();\nif (!source) { source = 'owner'; }\nelse if (allowedSource.indexOf(source) === -1) { errors.push('Invalid source: ' + source + '.'); source = 'owner'; }\n\nlet requested_by = trimOrEmpty(raw.requested_by);\nif (!requested_by) { requested_by = 'owner'; }\n\n// ---- budget ---------------------------------------------------------------\nlet maximum_budget_usd = raw.maximum_budget_usd;\nif (maximum_budget_usd === null || maximum_budget_usd === undefined || maximum_budget_usd === '') {\n  maximum_budget_usd = 0.75;\n} else {\n  maximum_budget_usd = Number(maximum_budget_usd);\n}\nif (typeof maximum_budget_usd !== 'number' || isNaN(maximum_budget_usd)) {\n  errors.push('maximum_budget_usd is not a number.');\n  maximum_budget_usd = 0.75;\n} else if (maximum_budget_usd < 0.01) {\n  errors.push('maximum_budget_usd below minimum (0.01).');\n} else if (maximum_budget_usd > 5) {\n  errors.push('maximum_budget_usd above maximum (5).');\n}\n\n// ---- optional / nullable fields ------------------------------------------\nconst business_reason = (raw.business_reason === null || raw.business_reason === undefined || trimOrEmpty(raw.business_reason) === '') ? null : trimOrEmpty(raw.business_reason);\n\nlet related_github_issue = null;\nif (raw.related_github_issue !== null && raw.related_github_issue !== undefined && raw.related_github_issue !== '') {\n  const n = Number(raw.related_github_issue);\n  if (isNaN(n)) { errors.push('related_github_issue is not a number.'); } else { related_github_issue = n; }\n}\n\nlet deadline = null;\nif (raw.deadline !== null && raw.deadline !== undefined && trimOrEmpty(raw.deadline) !== '') {\n  const d = new Date(raw.deadline);\n  if (isNaN(d.getTime())) { errors.push('deadline is not a valid ISO date.'); } else { deadline = d.toISOString(); }\n}\n\nconst allowed_write_scope = Array.isArray(raw.allowed_write_scope) ? raw.allowed_write_scope : [];\n\n// Mandatory forbidden actions — always enforced, always present, deduped.\nconst MANDATORY_FORBIDDEN = ['architecture_change', 'code_write', 'branch_create', 'pull_request_create', 'merge', 'production_deploy', 'auth_change', 'rls_change', 'sql_execute', 'migration_create_or_apply', 'secret_access_or_change', 'production_private_data_access', 'docs_index_edit', 'knowledge_debt_close', 'beta_ready_claim', 'release_ready_claim'];\nconst providedForbidden = Array.isArray(raw.forbidden_actions) ? raw.forbidden_actions.map(function (x) { return String(x); }) : [];\nconst forbidden_actions = [];\nfor (const f of MANDATORY_FORBIDDEN) { if (forbidden_actions.indexOf(f) === -1) forbidden_actions.push(f); }\nfor (const f of providedForbidden) { if (f && forbidden_actions.indexOf(f) === -1) forbidden_actions.push(f); }\n\nconst metadata = (raw.metadata && typeof raw.metadata === 'object' && !Array.isArray(raw.metadata)) ? raw.metadata : {};\n\n// ---- generated fields -----------------------------------------------------\nconst received_at = new Date().toISOString();\nconst canonical = [\n  title, objective, expected_deliverable, business_reason || '', priority,\n  String(maximum_budget_usd), requested_by, source, deadline || '',\n  related_github_issue === null ? '' : String(related_github_issue)\n].join('|');\nconst mission_hash = hashStr(canonical);\n\nlet mission_id = trimOrEmpty(raw.mission_id);\nif (!mission_id) { mission_id = 'MISSION-' + mission_hash + '-' + hashStr(received_at); }\n\n// ---- budget governance ----------------------------------------------------\nconst reserved_budget_usd = Math.round(maximum_budget_usd * 0.25 * 10000) / 10000;\nconst available_budget_usd = Math.round(maximum_budget_usd * 0.75 * 10000) / 10000;\nconst role_stop_threshold_pct = 75;\nconst role_stop_threshold_usd = Math.round(maximum_budget_usd * 0.75 * 10000) / 10000;\n\n// ---- execution limits (deterministic caps) --------------------------------\nconst limits = { max_retries: 1, max_fallbacks: 1, max_critic_cycles: 1 };\n\nconst mission = {\n  mission_id: mission_id,\n  title: title,\n  objective: objective,\n  business_reason: business_reason,\n  expected_deliverable: expected_deliverable,\n  priority: priority,\n  related_github_issue: related_github_issue,\n  maximum_budget_usd: maximum_budget_usd,\n  allowed_write_scope: allowed_write_scope,\n  forbidden_actions: forbidden_actions,\n  deadline: deadline,\n  requested_by: requested_by,\n  source: source,\n  metadata: metadata\n};\n\nconst missionValid = errors.length === 0;\n\nreturn {\n  json: {\n    mission: mission,\n    mission_id: mission_id,\n    mission_hash: mission_hash,\n    received_at: received_at,\n    mode: 'report-only',\n    missionValid: missionValid,\n    errors: errors,\n    errorsText: errors.join(' | '),\n    budget: {\n      maximum_budget_usd: maximum_budget_usd,\n      reserved_budget_usd: reserved_budget_usd,\n      available_budget_usd: available_budget_usd,\n      role_stop_threshold_pct: role_stop_threshold_pct,\n      role_stop_threshold_usd: role_stop_threshold_usd\n    },\n    limits: limits\n  }\n};\n"
      },
      "id": "d3175af1-6ebf-4fe6-9178-28af0472f77b",
      "name": "STAFF-00 Normalize Mission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst missionHash = (j.mission_hash || '').toString();\nconst missionId = (j.mission_id || '').toString();\n\nconst RETENTION_MS = 7 * 24 * 60 * 60 * 1000; // 7 days\nconst MAX_RECORDS = 100;\nconst nowMs = Date.now();\n\n// Workflow-level static data survives across executions (Phase 1 store).\nconst staticData = $getWorkflowStaticData('global');\nlet records = Array.isArray(staticData.staff00MissionHashes) ? staticData.staff00MissionHashes : [];\n\n// Purge expired records (older than retention window).\nrecords = records.filter(function (r) { return r && typeof r.ts === 'number' && (nowMs - r.ts) < RETENTION_MS; });\n\nlet duplicate = false;\nlet original_mission_id = '';\nfor (const r of records) {\n  if (r.hash === missionHash) {\n    duplicate = true;\n    original_mission_id = (r.mission_id || '').toString();\n    break;\n  }\n}\n\nif (!duplicate && missionHash) {\n  records.push({ hash: missionHash, mission_id: missionId, ts: nowMs });\n  // Cap total records; keep the most recent MAX_RECORDS.\n  if (records.length > MAX_RECORDS) { records = records.slice(records.length - MAX_RECORDS); }\n}\n\nstaticData.staff00MissionHashes = records;\n\nconst out = Object.assign({}, j, {\n  duplicate: duplicate,\n  original_mission_id: duplicate ? original_mission_id : missionId\n});\nreturn { json: out };\n"
      },
      "id": "571837b5-1597-4fea-90f0-b11c8a24b43d",
      "name": "STAFF-00 Duplicate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "isnew",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cce7600b-3022-45bd-a654-e8efa37b80b7",
      "name": "STAFF-00 Is New Mission?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        832
      ]
    },
    {
      "parameters": {},
      "id": "1a933493-20a9-4640-95db-cd7c2e488a47",
      "name": "STAFF-00 Duplicate Mission (stopped)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "mvalid",
              "leftValue": "={{ $json.missionValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "994ef40d-8da9-45fa-9ef2-7fc33313ba7f",
      "name": "STAFF-00 Is Mission Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        928
      ]
    },
    {
      "parameters": {},
      "id": "40844c3f-80c4-4fb2-91ae-40b29a3d386e",
      "name": "STAFF-00 Mission Accepted (report-only)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst m = (j.mission && typeof j.mission === 'object') ? j.mission : {};\nconst budget = (j.budget && typeof j.budget === 'object') ? j.budget : {};\n\n// Canonical supported roles (always the full universe for skipped_roles).\nconst ALL_ROLES = ['Project Coordinator', 'Archivist', 'Product Lead', 'Tech Lead', 'QA Lead', 'UX Lead', 'Security Lead', 'Supabase Steward', 'Release Manager', 'Market Analyst', 'GitHub Operator', 'Replit Operator', 'Sprint Planner', 'Critic'];\n\nconst title = (m.title || '').toString().toLowerCase();\nconst objective = (m.objective || '').toString().toLowerCase();\nconst deliverable = (m.expected_deliverable || '').toString().toLowerCase();\nconst hay = (title + ' ' + objective + ' ' + deliverable);\nfunction has(words) { for (const w of words) { if (hay.indexOf(w) !== -1) return true; } return false; }\n\n// Deterministic category detection (first match wins, ordered by risk/priority).\nlet category = 'documentation alignment';\nlet activated = ['Project Coordinator', 'Archivist', 'Product Lead'];\n\nif (has(['auth', 'rls', 'row level security', 'supabase', 'data privacy', 'private data', 'security', 'secret'])) {\n  category = 'auth/RLS/data';\n  activated = ['Project Coordinator', 'Security Lead', 'Supabase Steward', 'Tech Lead', 'QA Lead'];\n} else if (has(['bug', 'defect', 'crash', 'error', 'investigat', 'regression', 'broken', 'fix'])) {\n  category = 'bug investigation';\n  activated = ['Project Coordinator', 'QA Lead', 'Tech Lead'];\n} else if (has(['architecture', 'refactor', 'system design', 'scalab', 'design review', 'tech debt', 'technical debt'])) {\n  category = 'architecture review';\n  activated = ['Project Coordinator', 'Tech Lead', 'Product Lead', 'Archivist'];\n} else if (has(['market', 'competitor', 'research', 'analysis', 'pricing', 'segment', 'audience'])) {\n  category = 'market research';\n  activated = ['Project Coordinator', 'Market Analyst', 'Product Lead', 'Archivist'];\n} else if (has(['qa', 'test', 'beta', 'quality', 'acceptance', 'verify'])) {\n  category = 'beta QA';\n  activated = ['Project Coordinator', 'QA Lead', 'Product Lead'];\n} else if (has(['doc', 'documentation', 'readme', 'guide', 'checklist', 'align'])) {\n  category = 'documentation alignment';\n  activated = ['Project Coordinator', 'Archivist', 'Product Lead'];\n}\n\n// Dedup + preserve canonical order for activated roles.\nconst activatedSet = {};\nfor (const r of activated) { activatedSet[r] = true; }\nconst activated_roles = ALL_ROLES.filter(function (r) { return !!activatedSet[r]; });\nconst skipped_roles = ALL_ROLES.filter(function (r) { return !activatedSet[r]; });\nconst routing_reason = 'Deterministic keyword routing matched category \"' + category + '\" -> ' + activated_roles.join(', ') + '. No AI used.';\n\n// ---- per-role budget split (report-only, deterministic) --------------------\nconst available = (typeof budget.available_budget_usd === 'number') ? budget.available_budget_usd : 0;\nconst n = activated_roles.length || 1;\nconst per_role_cost = Math.floor((available / n) * 10000) / 10000;\n\nconst forbidden_actions = Array.isArray(m.forbidden_actions) ? m.forbidden_actions : [];\nconst allowed_actions = ['read', 'analyze', 'summarize', 'draft_report', 'recommend']; // report-only defaults\n\nfunction roleTask(role) {\n  return role + ' contribution for mission: ' + (m.title || '');\n}\nfunction roleGoal(role) {\n  return 'Provide a report-only ' + role + ' assessment supporting: ' + (m.objective || '');\n}\n\nconst context_packs = activated_roles.map(function (role) {\n  return {\n    mission_id: (j.mission_id || m.mission_id || '').toString(),\n    role: role,\n    task: roleTask(role),\n    goal: roleGoal(role),\n    allowed_actions: allowed_actions,\n    forbidden_actions: forbidden_actions,\n    expected_output: (m.expected_deliverable || 'Report-only assessment.'),\n    token_budget: 2000,\n    call_limit: 2,\n    cost_limit_usd: per_role_cost,\n    retry_limit: 1,\n    data_classification: 'internal-nonsensitive'\n  };\n});\n\nreturn {\n  json: Object.assign({}, j, {\n    routing_category: category,\n    activated_roles: activated_roles,\n    skipped_roles: skipped_roles,\n    routing_reason: routing_reason,\n    context_packs: context_packs\n  })\n};\n"
      },
      "id": "8a314c90-ca5b-4340-ab12-aef9a9ff1680",
      "name": "STAFF-00 Role Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  const packs = Array.isArray(j.context_packs) ? j.context_packs : [];\n  const shared = {\n    mission_id: (j.mission_id || '').toString(),\n    budget: (j.budget && typeof j.budget === 'object') ? j.budget : {},\n    guardrails: (j.mission && Array.isArray(j.mission.forbidden_actions)) ? j.mission.forbidden_actions : [],\n    activated_roles: Array.isArray(j.activated_roles) ? j.activated_roles : [],\n    skipped_roles: Array.isArray(j.skipped_roles) ? j.skipped_roles : [],\n    routing_category: (j.routing_category || '').toString(),\n    routing_reason: (j.routing_reason || '').toString()\n  };\n  for (const p of packs) {\n    out.push({ json: Object.assign({}, shared, { context_pack: p, role: (p && p.role) || '' }) });\n  }\n}\n// If no packs were produced, emit nothing (nothing to execute).\nreturn out;\n"
      },
      "id": "d1b21568-434a-4853-9329-8c46ea673dbf",
      "name": "STAFF-01 Split Context Packs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        832
      ]
    },
    {
      "parameters": {},
      "id": "0f0f3ad6-3c87-4501-a8d2-3c3ccf597b9f",
      "name": "STAFF-01 Execute Role (DISABLED)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2016,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst cp = (j.context_pack && typeof j.context_pack === 'object') ? j.context_pack : {};\nconst role = (cp.role || j.role || '').toString();\nconst mission_id = (j.mission_id || cp.mission_id || '').toString();\n\nreturn {\n  json: {\n    mission_id: mission_id,\n    role: role,\n    status: 'completed',\n    summary: 'Synthetic structural-test result for role ' + role + '. No AI was used.',\n    verified_facts: [],\n    findings: [],\n    risks: [],\n    conflicts: [],\n    recommendation: 'No recommendation (synthetic structural test).',\n    evidence: [],\n    proposed_changes: [],\n    checks: [],\n    blockers: [],\n    token_usage: 0,\n    estimated_cost_usd: 0,\n    synthetic: true,\n    report_only: true,\n    // carried forward for aggregation / governance (not part of the result schema)\n    _shared: {\n      budget: (j.budget && typeof j.budget === 'object') ? j.budget : {},\n      guardrails: Array.isArray(j.guardrails) ? j.guardrails : [],\n      activated_roles: Array.isArray(j.activated_roles) ? j.activated_roles : [],\n      skipped_roles: Array.isArray(j.skipped_roles) ? j.skipped_roles : []\n    }\n  }\n};\n"
      },
      "id": "a2fc6935-c55e-418d-bcff-5df7c9aadda3",
      "name": "STAFF-01 Synthetic Agent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst errors = [];\n\nconst mission_id = (j.mission_id || '').toString();\nconst role = (j.role || '').toString();\nconst status = (j.status || '').toString();\nconst allowedStatus = ['completed', 'blocked', 'invalid'];\n\nif (!mission_id) errors.push('missing_mission_id');\nif (!role) errors.push('missing_role');\nif (allowedStatus.indexOf(status) === -1) errors.push('unsupported_status');\n\nconst recommendation = (j.recommendation || '').toString().trim();\nconst recLower = recommendation.toLowerCase();\nconst verified_facts = Array.isArray(j.verified_facts) ? j.verified_facts : [];\nconst findings = Array.isArray(j.findings) ? j.findings : [];\nconst evidence = Array.isArray(j.evidence) ? j.evidence : [];\nconst isFactual = recommendation.length > 0 && recLower.indexOf('no recommendation') === -1 && (verified_facts.length > 0 || findings.length > 0);\nif (isFactual && evidence.length === 0) errors.push('missing_evidence_for_factual_recommendation');\n\nconst cost = Number(j.estimated_cost_usd);\nif (isNaN(cost) || cost < 0) errors.push('negative_or_invalid_cost');\n\n// Forbidden action found in proposed_changes.\nconst guardrails = (j._shared && Array.isArray(j._shared.guardrails)) ? j._shared.guardrails : [];\nconst proposed = Array.isArray(j.proposed_changes) ? j.proposed_changes : [];\nconst proposedText = JSON.stringify(proposed).toLowerCase();\nlet forbiddenHit = false;\nfor (const f of guardrails) { if (f && proposedText.indexOf(String(f).toLowerCase()) !== -1) { forbiddenHit = true; break; } }\nconst HARD = ['commit', 'branch', 'pull request', 'merge', 'deploy', 'migration', 'drop table', 'alter table', 'delete from', 'rls', 'row level security', 'auth_change', 'sql_execute'];\nif (!forbiddenHit) { for (const h of HARD) { if (proposedText.indexOf(h) !== -1) { forbiddenHit = true; break; } } }\nif (forbiddenHit) errors.push('forbidden_action_in_proposed_changes');\n\n// Secrets / private-data fields anywhere in the result.\nconst scan = JSON.stringify({ s: j.summary, r: recommendation, e: evidence, f: findings, p: proposed, b: j.blockers }).toLowerCase();\nconst SECRET = ['password', 'api_key', 'api-key', 'apikey', 'secret', 'token', '-----begin', 'ghp_', 'bearer ', '.env', 'akia'];\nlet secretHit = false;\nfor (const s of SECRET) { if (scan.indexOf(s) !== -1) { secretHit = true; break; } }\nif (secretHit) errors.push('secret_or_private_data_present');\n\nconst valid = errors.length === 0;\n\nreturn {\n  json: Object.assign({}, j, {\n    validation_valid: valid,\n    validation_status: valid ? status : 'invalid',\n    validation_errors: errors\n  })\n};\n"
      },
      "id": "ddb49ceb-41e3-4152-96bf-78c74b4d47de",
      "name": "STAFF-01 Validate Agent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet mission_id = '';\nlet activated_roles = [];\nlet skipped_roles = [];\nlet budget = {};\nconst valid_results = [];\nconst invalid_results = [];\nlet total_token_usage = 0;\nlet total_estimated_cost_usd = 0;\n\nfor (const it of items) {\n  const j = it.json || {};\n  if (!mission_id) mission_id = (j.mission_id || '').toString();\n  if (j._shared) {\n    if (activated_roles.length === 0 && Array.isArray(j._shared.activated_roles)) activated_roles = j._shared.activated_roles;\n    if (skipped_roles.length === 0 && Array.isArray(j._shared.skipped_roles)) skipped_roles = j._shared.skipped_roles;\n    if (Object.keys(budget).length === 0 && j._shared.budget) budget = j._shared.budget;\n  }\n  total_token_usage += Number(j.token_usage) || 0;\n  total_estimated_cost_usd += Number(j.estimated_cost_usd) || 0;\n\n  const compact = {\n    mission_id: j.mission_id,\n    role: j.role,\n    status: j.validation_status || j.status,\n    summary: j.summary,\n    recommendation: j.recommendation,\n    verified_facts: j.verified_facts || [],\n    findings: j.findings || [],\n    risks: j.risks || [],\n    conflicts: j.conflicts || [],\n    evidence: j.evidence || [],\n    proposed_changes: j.proposed_changes || [],\n    checks: j.checks || [],\n    blockers: j.blockers || [],\n    token_usage: j.token_usage || 0,\n    estimated_cost_usd: j.estimated_cost_usd || 0,\n    synthetic: j.synthetic === true,\n    report_only: j.report_only === true,\n    validation_errors: j.validation_errors || []\n  };\n  if (j.validation_valid) valid_results.push(compact); else invalid_results.push(compact);\n}\n\ntotal_estimated_cost_usd = Math.round(total_estimated_cost_usd * 10000) / 10000;\n\nreturn [{\n  json: {\n    mission_id: mission_id,\n    activated_roles: activated_roles,\n    skipped_roles: skipped_roles,\n    budget: budget,\n    valid_results: valid_results,\n    invalid_results: invalid_results,\n    total_token_usage: total_token_usage,\n    total_estimated_cost_usd: total_estimated_cost_usd,\n    synthetic: true,\n    report_only: true\n  }\n}];\n"
      },
      "id": "e34bbc10-fd59-43c8-93c3-852c71b9b094",
      "name": "STAFF-01 Collect Role Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst budget = (j.budget && typeof j.budget === 'object') ? j.budget : {};\nconst dispatch_budget_usd = (typeof budget.available_budget_usd === 'number') ? budget.available_budget_usd : 0;\nconst reserved_budget_usd = (typeof budget.reserved_budget_usd === 'number') ? budget.reserved_budget_usd : 0;\nconst total = Number(j.total_estimated_cost_usd) || 0;\nconst budget_exceeded = total > dispatch_budget_usd;\n\nreturn {\n  json: Object.assign({}, j, {\n    dispatch_budget_usd: dispatch_budget_usd,\n    reserved_budget_usd: reserved_budget_usd,\n    budget_exceeded: budget_exceeded,\n    budget_status: budget_exceeded ? 'blocked' : 'ok',\n    auto_retry: false\n  })\n};\n"
      },
      "id": "15219780-83ca-4766-8125-50ac7f01c05a",
      "name": "STAFF-01 Budget Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst valid = Array.isArray(j.valid_results) ? j.valid_results : [];\nconst invalid = Array.isArray(j.invalid_results) ? j.invalid_results : [];\nconst reasons = [];\n\n// (a) one or more invalid results\nif (invalid.length > 0) reasons.push('one_or_more_invalid_results');\n\n// (b) high-risk recommendation lacking evidence\nfor (const r of valid) {\n  const hasRisk = Array.isArray(r.risks) && r.risks.length > 0;\n  const rec = (r.recommendation || '').toString().trim().toLowerCase();\n  const hasRec = rec.length > 0 && rec.indexOf('no recommendation') === -1;\n  const hasEvidence = Array.isArray(r.evidence) && r.evidence.length > 0;\n  if (hasRisk && hasRec && !hasEvidence) { reasons.push('high_risk_recommendation_without_evidence'); break; }\n}\n\n// (c) two roles giving materially conflicting recommendations (opposite polarity)\nconst NEG = ['do not', 'avoid', 'reject', 'block', 'stop', 'remove', 'delay', 'postpone', 'must not', 'should not'];\nfunction neg(s) { for (const w of NEG) { if (s.indexOf(w) !== -1) return true; } return false; }\nconst recs = valid\n  .map(function (r) { return (r.recommendation || '').toString().trim().toLowerCase(); })\n  .filter(function (s) { return s.length > 0 && s.indexOf('no recommendation') === -1; });\nlet conflict = false;\nfor (let a = 0; a < recs.length && !conflict; a++) {\n  for (let b = a + 1; b < recs.length; b++) {\n    if (neg(recs[a]) !== neg(recs[b])) { conflict = true; break; }\n  }\n}\nif (conflict) reasons.push('materially_conflicting_recommendations');\n\nconst critic_required = reasons.length > 0;\n\n// Human-approval flag: any sensitive action proposed by any role.\nconst SENSITIVE = ['code', 'branch', 'commit', 'pull request', ' pr', 'merge', 'architecture', 'auth', 'rls', 'sql', 'migration', 'secret', 'production data', 'production', 'deploy', 'docs_index', 'knowledge debt', 'knowledge_debt', 'beta-ready', 'beta ready', 'beta_ready', 'release-ready', 'release ready', 'release_ready'];\nlet human_approval_required = false;\nconst allResults = valid.concat(invalid);\nfor (const r of allResults) {\n  const pc = JSON.stringify(r.proposed_changes || []).toLowerCase();\n  for (const s of SENSITIVE) { if (pc.indexOf(s) !== -1) { human_approval_required = true; break; } }\n  if (human_approval_required) break;\n}\n\nreturn {\n  json: Object.assign({}, j, {\n    critic_required: critic_required,\n    critic_reasons: reasons,\n    max_critic_cycles: 1,\n    human_approval_required: human_approval_required\n  })\n};\n"
      },
      "id": "b5ba0597-b5ae-4337-921e-26a195684a6b",
      "name": "STAFF-01 Conflict Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        832
      ]
    },
    {
      "parameters": {},
      "id": "9e53cfa2-3ec5-46bc-b60a-18783c670d2d",
      "name": "STAFF-02 Critic (DISABLED)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "edeb305a-37c8-40ce-a936-72fc0c0bdb55",
      "name": "STAFF-01 Coordinator Synthesis (DISABLED)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3584,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approval",
              "leftValue": "={{ $json.human_approval_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dda49289-6ab3-4d5a-8854-e18f7c3350a1",
      "name": "STAFF-01 Human Approval Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3808,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nlet final_status = 'completed';\nconst invalid_results = Array.isArray(j.invalid_results) ? j.invalid_results : [];\nif (j.budget_exceeded) final_status = 'blocked';\nelse if (invalid_results.length > 0) final_status = 'blocked';\nelse if (j.human_approval_required) final_status = 'needs_human_approval';\n\nreturn {\n  json: {\n    staff01_result: {\n      mission_id: (j.mission_id || '').toString(),\n      status: final_status,\n      activated_roles: j.activated_roles || [],\n      skipped_roles: j.skipped_roles || [],\n      valid_results: j.valid_results || [],\n      invalid_results: j.invalid_results || [],\n      critic_required: j.critic_required === true,\n      critic_reasons: j.critic_reasons || [],\n      max_critic_cycles: 1,\n      human_approval_required: j.human_approval_required === true,\n      budget: {\n        dispatch_budget_usd: j.dispatch_budget_usd || 0,\n        reserved_budget_usd: j.reserved_budget_usd || 0,\n        total_estimated_cost_usd: j.total_estimated_cost_usd || 0,\n        budget_exceeded: j.budget_exceeded === true\n      },\n      total_token_usage: j.total_token_usage || 0,\n      total_estimated_cost_usd: j.total_estimated_cost_usd || 0,\n      synthetic: true,\n      report_only: true,\n      note: 'Structural test output only. No AI model connected. No external system was written.'\n    }\n  }\n};\n"
      },
      "id": "693d4ab7-babe-4050-b591-6de100d2b07a",
      "name": "STAFF-01 Report Only Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        832
      ]
    },
    {
      "parameters": {},
      "id": "79233c02-a647-4142-8dbf-f034fdb9d893",
      "name": "STAFF-00 Mission Rejected",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        1024
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\n\nconst mission_id = (j.mission_id || (j.mission && j.mission.mission_id) || '').toString();\nconst errorsText = (j.errorsText || (Array.isArray(j.errors) ? j.errors.join(' | ') : '')).toString();\n\n// Whitelisted, non-sensitive input summary only. Never echo raw content or secrets.\nconst m = (j.mission && typeof j.mission === 'object') ? j.mission : {};\nfunction clip(v, n) { const s = (v === null || v === undefined) ? '' : String(v); return s.length > n ? s.slice(0, n) + '...' : s; }\nconst sanitized_input_summary = {\n  title: clip(m.title, 120),\n  priority: (m.priority || '').toString(),\n  source: (m.source || '').toString(),\n  requested_by: (m.requested_by || '').toString(),\n  maximum_budget_usd: (typeof m.maximum_budget_usd === 'number') ? m.maximum_budget_usd : null,\n  has_deadline: !!m.deadline,\n  related_github_issue: (m.related_github_issue === null || m.related_github_issue === undefined) ? null : Number(m.related_github_issue)\n};\n\nconst failed_node = (j.failed_node || 'STAFF-00 Mission Validation').toString();\nconst retry_allowed = (j.retry_allowed !== undefined) ? !!j.retry_allowed : false;\n\nreturn {\n  json: {\n    staff00_error: {\n      mission_id: mission_id,\n      failed_node: failed_node,\n      execution_id: ($execution && $execution.id) ? $execution.id : '',\n      error_message: clip(errorsText || 'Mission rejected by deterministic validation.', 500),\n      retry_allowed: retry_allowed,\n      sanitized_input_summary: sanitized_input_summary\n    }\n  }\n};\n"
      },
      "id": "fd4a62e3-8f01-4e74-b6af-b2d6951421d2",
      "name": "STAFF-00 Sanitized Error Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1024
      ]
    },
    {
      "parameters": {
        "content": "## Staff OS structural test — single run\n1. Edit **STAFF-00 Raw Mission Input (Sample)**.\n2. Start only from **STAFF-00 Mission Trigger (Manual)**.\n3. Execute the workflow once from that manual trigger.\n4. Inspect **STAFF-01 Report Only Complete** after the lane finishes.\n\n**Do not execute the terminal node directly.** n8n can reuse prior IF-path data.\n**Do not run the AI Report Bus branch.** This copy is inactive and test-only.",
        "height": 380,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        2100
      ],
      "id": "staff-os-single-run-procedure",
      "name": "STAFF-OS Single-Run Procedure"
    }
  ],
  "connections": {
    "STAFF-00 Mission Trigger (Manual)": {
      "main": [
        [
          {
            "node": "STAFF-00 Raw Mission Input (Sample)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Raw Mission Input (Sample)": {
      "main": [
        [
          {
            "node": "STAFF-00 Normalize Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Normalize Mission": {
      "main": [
        [
          {
            "node": "STAFF-00 Is Mission Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Duplicate Check": {
      "main": [
        [
          {
            "node": "STAFF-00 Is New Mission?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Is New Mission?": {
      "main": [
        [
          {
            "node": "STAFF-00 Mission Accepted (report-only)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STAFF-00 Duplicate Mission (stopped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Is Mission Valid?": {
      "main": [
        [
          {
            "node": "STAFF-00 Duplicate Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STAFF-00 Mission Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Mission Accepted (report-only)": {
      "main": [
        [
          {
            "node": "STAFF-00 Role Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Role Selection": {
      "main": [
        [
          {
            "node": "STAFF-01 Split Context Packs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Split Context Packs": {
      "main": [
        [
          {
            "node": "STAFF-01 Execute Role (DISABLED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Execute Role (DISABLED)": {
      "main": [
        [
          {
            "node": "STAFF-01 Synthetic Agent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Synthetic Agent Result": {
      "main": [
        [
          {
            "node": "STAFF-01 Validate Agent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Validate Agent Result": {
      "main": [
        [
          {
            "node": "STAFF-01 Collect Role Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Collect Role Results": {
      "main": [
        [
          {
            "node": "STAFF-01 Budget Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Budget Check": {
      "main": [
        [
          {
            "node": "STAFF-01 Conflict Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Conflict Detection": {
      "main": [
        [
          {
            "node": "STAFF-02 Critic (DISABLED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-02 Critic (DISABLED)": {
      "main": [
        [
          {
            "node": "STAFF-01 Coordinator Synthesis (DISABLED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Coordinator Synthesis (DISABLED)": {
      "main": [
        [
          {
            "node": "STAFF-01 Human Approval Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Human Approval Required?": {
      "main": [
        [
          {
            "node": "STAFF-01 Report Only Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STAFF-01 Report Only Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Mission Rejected": {
      "main": [
        [
          {
            "node": "STAFF-00 Sanitized Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
