n8n/workflows/go-irl-ai-staff-os-structural-test.json
{
  "name": "GO IRL — AI Staff OS Structural Test (Sanitized)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "812834ba-d963-4206-8cd3-07a7e988f50c",
      "name": "Schedule Trigger (Every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'AI_REPORTS_INBOX_FOLDER_ID' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "id": "341017d6-0f61-4e41-b4fb-7ff65a157603",
      "name": "Search Inbox Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {},
      "id": "0183d2d6-2cba-403b-a26d-2ba10e9bcf98",
      "name": "Manual Trigger (Dry Run)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ext_md",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".md",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "ext_txt",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".txt",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6a74bb46-6a21-46b8-8abf-75169307e5c0",
      "name": "Keep Only .md / .txt",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {},
      "id": "f0bfd3a1-f76f-4a43-9906-be0c7c3b0fcf",
      "name": "Process One Report",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "3bb15266-05c7-4fe4-a391-18481d54bda9",
      "name": "Download Report",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "c14d3fd2-9b31-4839-bef8-1a04c816c23a",
      "name": "Read Text Content",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst item = items[0] || { json: {} };\nconst LF = String.fromCharCode(10);\nconst FENCE = String.fromCharCode(96, 96, 96);\n\nlet fileName = '';\ntry { fileName = ($('Download Report').first().json.name || '').toString(); } catch (e) { fileName = ''; }\nif (!fileName) { fileName = (item.json.name || item.json.fileName || 'unknown').toString(); }\n\nlet fileId = '';\ntry { fileId = ($('Download Report').first().json.id || '').toString(); } catch (e) { fileId = ''; }\nif (!fileId) { fileId = (item.json.id || '').toString(); }\n\nconst content = (item.json.data || item.json.text || '').toString();\nconst lower = content.toLowerCase();\nconst reasons = [];\n\nif (!content || content.trim().length === 0) {\n  reasons.push('File is empty.');\n}\n\nconst safeName = /^[A-Za-z0-9._-]+\\.(md|txt)$/;\nif (!safeName.test(fileName)) {\n  reasons.push('Filename is unsafe or is not a .md/.txt file.');\n}\n\nfunction metaValue(key) {\n  const re = new RegExp('^\\\\s*' + key + '\\\\s*:\\\\s*(.+?)\\\\s*$', 'im');\n  const m = content.match(re);\n  return m ? m[1].trim() : null;\n}\nconst title = metaValue('title');\nconst owner = metaValue('owner');\nconst status = metaValue('status');\nconst sot = metaValue('source_of_truth');\nconst lastReview = metaValue('last_review');\nconst nextReview = metaValue('next_review');\n\nif (!title) reasons.push('Missing metadata: title.');\nif (!owner) reasons.push('Missing metadata: owner.');\nif (!status) reasons.push('Missing metadata: status.');\nif (!sot) reasons.push('Missing metadata: source_of_truth.');\nif (!lastReview) reasons.push('Missing metadata: last_review.');\nif (!nextReview) reasons.push('Missing metadata: next_review.');\n\nif (status && status.toLowerCase() !== 'draft') reasons.push('status is not Draft.');\nif (sot && sot.toLowerCase() !== 'false') reasons.push('source_of_truth is not false.');\n\nconst requiredSections = ['# Agent Report', '## Task', '## Files inspected', '## Findings', '## Changes made', '## Checks', '## Next step'];\nfor (const s of requiredSections) {\n  if (content.indexOf(s) === -1) reasons.push('Missing required section: ' + s);\n}\n\nconst secretPatterns = [/password\\s*[:=]/i, /passwd/i, /secret\\s*[:=]/i, /api[_-]?key/i, /token\\s*[:=]/i, /-----BEGIN [A-Z ]*PRIVATE KEY-----/i, /\\.env\\b/i, /AKIA[0-9A-Z]{16}/, /bearer\\s+[a-z0-9._-]{10,}/i, /ghp_[A-Za-z0-9]{20,}/];\nfor (const p of secretPatterns) {\n  if (p.test(content)) { reasons.push('Report appears to contain credentials, tokens, secrets, or .env values.'); break; }\n}\n\nconst codeChangePatterns = ['please commit', 'auto-commit', 'automatically commit', 'push the code', 'push code', 'open a pr', 'create a pull request', 'merge the pr', 'apply this patch', 'make the change automatically', 'auto-merge', 'automatically apply', 'commit directly'];\nfor (const p of codeChangePatterns) {\n  if (lower.indexOf(p) !== -1) { reasons.push('Report requests automatic code changes.'); break; }\n}\n\nconst sensitiveOps = ['rls', 'row level security', 'supabase auth', 'change auth', 'disable auth', 'drop table', 'delete from', 'truncate', 'alter table', 'migration', 'run sql', 'execute sql', 'grant ', 'revoke '];\nfor (const p of sensitiveOps) {\n  if (lower.indexOf(p) !== -1) { reasons.push('Report requests changes to auth, Supabase RLS, destructive SQL, migrations, or secrets.'); break; }\n}\n\nconst claimsPassed = lower.indexOf('checks passed') !== -1 || lower.indexOf('all checks pass') !== -1 || lower.indexOf('tests passed') !== -1 || lower.indexOf('all tests pass') !== -1;\nconst hasEvidence = lower.indexOf(FENCE) !== -1 || lower.indexOf('output:') !== -1 || lower.indexOf('log:') !== -1 || lower.indexOf('evidence') !== -1 || /https?:\\/\\//i.test(content);\nif (claimsPassed && !hasEvidence) reasons.push('Report claims checks passed without evidence.');\n\nconst isValid = reasons.length === 0;\nconst timestamp = new Date().toISOString();\nconst issueTitle = '[AI Report Draft] ' + (title || fileName);\n\nconst bodyLines = [];\nbodyLines.push('> WARNING: This is an AI-generated DRAFT report and is NOT a source of truth. GitHub is the source of truth. No repository change has been made by this automation.');\nbodyLines.push('');\nbodyLines.push('## Intake metadata');\nbodyLines.push('- Original filename: ' + fileName);\nbodyLines.push('- Agent owner: ' + (owner || 'unknown'));\nbodyLines.push('- Last review: ' + (lastReview || 'unknown'));\nbodyLines.push('- Next review: ' + (nextReview || 'unknown'));\nbodyLines.push('- Status: ' + (status || 'unknown'));\nbodyLines.push('- source_of_truth: ' + (sot || 'unknown'));\nbodyLines.push('- Intake timestamp: ' + timestamp);\nbodyLines.push('');\nbodyLines.push('## Manual review checklist');\nbodyLines.push('- [ ] Report content reviewed by a human');\nbodyLines.push('- [ ] No secrets or credentials present');\nbodyLines.push('- [ ] No unauthorized auth / RLS / SQL / migration requests');\nbodyLines.push('- [ ] Claims verified against actual repository state');\nbodyLines.push('- [ ] Decision recorded (accept / reject / follow-up)');\nbodyLines.push('');\nbodyLines.push('## Automation note');\nbodyLines.push('Created automatically by the GO IRL — AI Report Bus n8n workflow as an intake record only. n8n does not make product, architecture, security, or release decisions. No repository file was created, edited, committed, merged, or deleted.');\nbodyLines.push('');\nbodyLines.push('## Full report content');\nbodyLines.push(FENCE + 'markdown');\nbodyLines.push(content);\nbodyLines.push(FENCE);\nconst issueBody = bodyLines.join(LF);\n\nreturn [{ json: { fileName, fileId, title, owner, status, sourceOfTruth: sot, lastReview, nextReview, isValid, reasons: reasons.join(' | '), reasonsList: reasons, content, timestamp, issueTitle, issueBody } }];\n"
      },
      "id": "6eeb4acd-1801-4a8a-8067-058bf5f7a9df",
      "name": "Validate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7b57766b-4032-4798-a1c0-a1fa583f8c17",
      "name": "Is Report Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_OWNER"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_REPOSITORY"
        },
        "returnAll": true,
        "getRepositoryIssuesFilters": {
          "state": "all"
        }
      },
      "id": "848e2fa8-ed40-45d9-a633-a2c0aaad7468",
      "name": "Get Existing Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1792,
        96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst issues = $input.all();\nconst v = $('Validate Report').first().json;\nconst fileName = (v.fileName || '').toString();\nconst expectedTitle = (v.issueTitle || '').toString();\nlet isDuplicate = false;\nlet existingIssueUrl = '';\nlet existingIssueNumber = '';\nfor (const it of issues) {\n  const j = it.json || {};\n  const t = (j.title || '').toString();\n  const b = (j.body || '').toString();\n  const titleMatch = expectedTitle && t === expectedTitle;\n  const fileMatch = fileName && (t.indexOf(fileName) !== -1 || b.indexOf(fileName) !== -1);\n  if (titleMatch || fileMatch) {\n    isDuplicate = true;\n    existingIssueUrl = (j.html_url || '').toString();\n    existingIssueNumber = (j.number || '').toString();\n    break;\n  }\n}\nreturn [{ json: Object.assign({}, v, { isDuplicate, existingIssueUrl, existingIssueNumber }) }];\n"
      },
      "id": "940e3399-d1f9-44ec-a95a-dc5a6008722a",
      "name": "Check For Duplicate Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dup",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "db884fb9-c8f8-414b-96b6-8bd2aa74d353",
      "name": "Issue Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        96
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Validate Report\").first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "AI_REPORTS_REVIEWED_FOLDER_ID"
        }
      },
      "id": "edfb5f2b-ea3d-4565-aea3-3a25950e39a3",
      "name": "Move Duplicate To Reviewed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2464,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_NOTIFICATION_EMAIL",
        "subject": "GO IRL AI report ready for review",
        "emailType": "text",
        "message": "=Result: ALREADY EXISTS (existing issue reused, no new issue created)\nFilename: {{ $(\"Validate Report\").first().json.fileName }}\nGitHub issue: {{ $(\"Check For Duplicate Issue\").first().json.existingIssueUrl }}\n\nThe report has been moved to AI Reports/Reviewed. This report is a DRAFT and is not a source of truth. No repository change was made.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "244c0c82-cc94-447e-a300-99c27620170d",
      "name": "Send Duplicate Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2688,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_OWNER"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_REPOSITORY"
        },
        "title": "={{ $json.issueTitle }}",
        "body": "={{ $json.issueBody }}",
        "labels": [],
        "assignees": []
      },
      "id": "5b540116-2a6c-4e1e-bc0c-309791c2d6c0",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2464,
        192
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Validate Report\").first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "AI_REPORTS_REVIEWED_FOLDER_ID"
        }
      },
      "id": "b0c8c1a5-4387-4160-b6d6-906c273ccf8e",
      "name": "Move To Reviewed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2688,
        192
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_NOTIFICATION_EMAIL",
        "subject": "GO IRL AI report ready for review",
        "emailType": "text",
        "message": "=Result: READY FOR REVIEW\nFilename: {{ $(\"Validate Report\").first().json.fileName }}\nGitHub issue: {{ $(\"Create GitHub Issue\").first().json.html_url }}\n\nThe report has been moved to AI Reports/Reviewed. This report is a DRAFT and is not a source of truth. No repository change was made.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "d321b67e-f18e-4c2a-9bcc-773da410e4da",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2912,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst v = $('Validate Report').first().json;\nconst LF = String.fromCharCode(10);\nconst lines = [];\nlines.push('GO IRL AI Report - Rejection Log');\nlines.push('Filename: ' + (v.fileName || 'unknown'));\nlines.push('Result: REJECTED');\nlines.push('Timestamp: ' + new Date().toISOString());\nlines.push('Reasons:');\nconst rl = v.reasonsList || [];\nfor (const r of rl) { lines.push('- ' + r); }\nreturn [{ json: { fileName: v.fileName, result: 'REJECTED', reasons: v.reasons, reasonsList: rl, logText: lines.join(LF), timestamp: new Date().toISOString() } }];\n"
      },
      "id": "dc616fa0-d38f-4203-8a82-08b79798937d",
      "name": "Build Rejection Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        288
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Validate Report\").first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "AI_REPORTS_REJECTED_FOLDER_ID"
        }
      },
      "id": "2402ff33-43e2-4b9d-bbe9-78282bcbf5f1",
      "name": "Move To Rejected",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        288
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_NOTIFICATION_EMAIL",
        "subject": "GO IRL AI report rejected",
        "emailType": "text",
        "message": "=Result: REJECTED\nFilename: {{ $(\"Validate Report\").first().json.fileName }}\nRejection reasons: {{ $(\"Validate Report\").first().json.reasons }}\n\nThe report has been moved to AI Reports/Rejected. No GitHub issue was created and no repository change was made.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5e2749cd-cb7b-422b-bf05-af0234325474",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2240,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "name",
              "type": "string",
              "value": "agent-report-sample.md"
            },
            {
              "id": "s2",
              "name": "data",
              "type": "string",
              "value": "---\ntitle: Agent Report\nowner: QA Agent\nstatus: Draft\nsource_of_truth: false\nlast_review: 2026-07-10\nnext_review: 2026-07-24\n---\n\n# Agent Report\n\n## Task\nReview beta event categories for the Olomouc closed beta.\n\n## Files inspected\n- docs/beta/categories.md\n- docs/beta/flow.md\n\n## Findings\nThe six canonical categories are present and consistent with the beta flow.\n\n## Changes made\nNone. This report is a draft observation only and proposes no repository changes.\n\n## Checks\nRan the documentation lint locally.\noutput:\nlint: 0 errors, 0 warnings\nSee evidence log above.\n\n## Next step\nHuman maintainer to confirm category ordering in a follow-up review.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "91b1f18c-c4ea-408c-958d-7378518fe627",
      "name": "Synthetic Test Report (Manual)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        512
      ]
    },
    {
      "parameters": {},
      "id": "c8863c47-b3f2-4f45-832e-774ed5bce8c8",
      "name": "STAFF-00 Mission Trigger (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        832
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"title\": \"Draft beta onboarding checklist\",\n  \"objective\": \"Produce a report-only onboarding checklist for the Olomouc closed beta.\",\n  \"expected_deliverable\": \"A markdown checklist document with review notes.\",\n  \"business_reason\": \"Improve first-run experience for beta testers.\",\n  \"priority\": \"normal\",\n  \"maximum_budget_usd\": 0.75,\n  \"requested_by\": \"owner\",\n  \"source\": \"owner\"\n}",
        "options": {}
      },
      "id": "670205ae-665c-41a0-929b-efb4f3e20a22",
      "name": "STAFF-00 Raw Mission Input (Sample)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst raw = ($json && typeof $json === 'object') ? $json : {};\nconst errors = [];\n\n// ---- deterministic string hash (djb2) -------------------------------------\nfunction hashStr(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) { h = ((h * 33) ^ s.charCodeAt(i)) >>> 0; }\n  return ('00000000' + h.toString(16)).slice(-8);\n}\nfunction trimOrEmpty(v) { return (v === null || v === undefined) ? '' : String(v).trim(); }\n\n// ---- required fields ------------------------------------------------------\nconst title = trimOrEmpty(raw.title);\nconst objective = trimOrEmpty(raw.objective);\nconst expected_deliverable = trimOrEmpty(raw.expected_deliverable);\nif (!title) errors.push('Missing required field: title.');\nif (!objective) errors.push('Missing required field: objective.');\nif (!expected_deliverable) errors.push('Missing required field: expected_deliverable.');\n\n// ---- enums with defaults --------------------------------------------------\nconst allowedPriority = ['low', 'normal', 'high', 'critical'];\nlet priority = trimOrEmpty(raw.priority).toLowerCase();\nif (!priority) { priority = 'normal'; }\nelse if (allowedPriority.indexOf(priority) === -1) { errors.push('Invalid priority: ' + priority + '.'); priority = 'normal'; }\n\nconst allowedSource = ['owner', 'github_issue', 'manual', 'scheduled'];\nlet source = trimOrEmpty(raw.source).toLowerCase();\nif (!source) { source = 'owner'; }\nelse if (allowedSource.indexOf(source) === -1) { errors.push('Invalid source: ' + source + '.'); source = 'owner'; }\n\nlet requested_by = trimOrEmpty(raw.requested_by);\nif (!requested_by) { requested_by = 'owner'; }\n\n// ---- budget ---------------------------------------------------------------\nlet maximum_budget_usd = raw.maximum_budget_usd;\nif (maximum_budget_usd === null || maximum_budget_usd === undefined || maximum_budget_usd === '') {\n  maximum_budget_usd = 0.75;\n} else {\n  maximum_budget_usd = Number(maximum_budget_usd);\n}\nif (typeof maximum_budget_usd !== 'number' || isNaN(maximum_budget_usd)) {\n  errors.push('maximum_budget_usd is not a number.');\n  maximum_budget_usd = 0.75;\n} else if (maximum_budget_usd < 0.01) {\n  errors.push('maximum_budget_usd below minimum (0.01).');\n} else if (maximum_budget_usd > 5) {\n  errors.push('maximum_budget_usd above maximum (5).');\n}\n\n// ---- optional / nullable fields ------------------------------------------\nconst business_reason = (raw.business_reason === null || raw.business_reason === undefined || trimOrEmpty(raw.business_reason) === '') ? null : trimOrEmpty(raw.business_reason);\n\nlet related_github_issue = null;\nif (raw.related_github_issue !== null && raw.related_github_issue !== undefined && raw.related_github_issue !== '') {\n  const n = Number(raw.related_github_issue);\n  if (isNaN(n)) { errors.push('related_github_issue is not a number.'); } else { related_github_issue = n; }\n}\n\nlet deadline = null;\nif (raw.deadline !== null && raw.deadline !== undefined && trimOrEmpty(raw.deadline) !== '') {\n  const d = new Date(raw.deadline);\n  if (isNaN(d.getTime())) { errors.push('deadline is not a valid ISO date.'); } else { deadline = d.toISOString(); }\n}\n\nconst allowed_write_scope = Array.isArray(raw.allowed_write_scope) ? raw.allowed_write_scope : [];\n\n// Mandatory forbidden actions — always enforced, always present, deduped.\nconst MANDATORY_FORBIDDEN = ['architecture_change', 'code_write', 'branch_create', 'pull_request_create', 'merge', 'production_deploy', 'auth_change', 'rls_change', 'sql_execute', 'migration_create_or_apply', 'secret_access_or_change', 'production_private_data_access', 'docs_index_edit', 'knowledge_debt_close', 'beta_ready_claim', 'release_ready_claim'];\nconst providedForbidden = Array.isArray(raw.forbidden_actions) ? raw.forbidden_actions.map(function (x) { return String(x); }) : [];\nconst forbidden_actions = [];\nfor (const f of MANDATORY_FORBIDDEN) { if (forbidden_actions.indexOf(f) === -1) forbidden_actions.push(f); }\nfor (const f of providedForbidden) { if (f && forbidden_actions.indexOf(f) === -1) forbidden_actions.push(f); }\n\nconst metadata = (raw.metadata && typeof raw.metadata === 'object' && !Array.isArray(raw.metadata)) ? raw.metadata : {};\n\n// ---- generated fields -----------------------------------------------------\nconst received_at = new Date().toISOString();\nconst canonical = [\n  title, objective, expected_deliverable, business_reason || '', priority,\n  String(maximum_budget_usd), requested_by, source, deadline || '',\n  related_github_issue === null ? '' : String(related_github_issue)\n].join('|');\nconst mission_hash = hashStr(canonical);\n\nlet mission_id = trimOrEmpty(raw.mission_id);\nif (!mission_id) { mission_id = 'MISSION-' + mission_hash + '-' + hashStr(received_at); }\n\n// ---- budget governance ----------------------------------------------------\nconst reserved_budget_usd = Math.round(maximum_budget_usd * 0.25 * 10000) / 10000;\nconst available_budget_usd = Math.round(maximum_budget_usd * 0.75 * 10000) / 10000;\nconst role_stop_threshold_pct = 75;\nconst role_stop_threshold_usd = Math.round(maximum_budget_usd * 0.75 * 10000) / 10000;\n\n// ---- execution limits (deterministic caps) --------------------------------\nconst limits = { max_retries: 1, max_fallbacks: 1, max_critic_cycles: 1 };\n\nconst mission = {\n  mission_id: mission_id,\n  title: title,\n  objective: objective,\n  business_reason: business_reason,\n  expected_deliverable: expected_deliverable,\n  priority: priority,\n  related_github_issue: related_github_issue,\n  maximum_budget_usd: maximum_budget_usd,\n  allowed_write_scope: allowed_write_scope,\n  forbidden_actions: forbidden_actions,\n  deadline: deadline,\n  requested_by: requested_by,\n  source: source,\n  metadata: metadata\n};\n\nconst missionValid = errors.length === 0;\n\nreturn {\n  json: {\n    mission: mission,\n    mission_id: mission_id,\n    mission_hash: mission_hash,\n    received_at: received_at,\n    mode: 'report-only',\n    missionValid: missionValid,\n    errors: errors,\n    errorsText: errors.join(' | '),\n    budget: {\n      maximum_budget_usd: maximum_budget_usd,\n      reserved_budget_usd: reserved_budget_usd,\n      available_budget_usd: available_budget_usd,\n      role_stop_threshold_pct: role_stop_threshold_pct,\n      role_stop_threshold_usd: role_stop_threshold_usd\n    },\n    limits: limits\n  }\n};\n"
      },
      "id": "d3175af1-6ebf-4fe6-9178-28af0472f77b",
      "name": "STAFF-00 Normalize Mission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst missionHash = (j.mission_hash || '').toString();\nconst missionId = (j.mission_id || '').toString();\n\nconst RETENTION_MS = 7 * 24 * 60 * 60 * 1000; // 7 days\nconst MAX_RECORDS = 100;\nconst nowMs = Date.now();\n\n// Workflow-level static data survives across executions (Phase 1 store).\nconst staticData = $getWorkflowStaticData('global');\nlet records = Array.isArray(staticData.staff00MissionHashes) ? staticData.staff00MissionHashes : [];\n\n// Purge expired records (older than retention window).\nrecords = records.filter(function (r) { return r && typeof r.ts === 'number' && (nowMs - r.ts) < RETENTION_MS; });\n\nlet duplicate = false;\nlet original_mission_id = '';\nfor (const r of records) {\n  if (r.hash === missionHash) {\n    duplicate = true;\n    original_mission_id = (r.mission_id || '').toString();\n    break;\n  }\n}\n\nif (!duplicate && missionHash) {\n  records.push({ hash: missionHash, mission_id: missionId, ts: nowMs });\n  // Cap total records; keep the most recent MAX_RECORDS.\n  if (records.length > MAX_RECORDS) { records = records.slice(records.length - MAX_RECORDS); }\n}\n\nstaticData.staff00MissionHashes = records;\n\nconst out = Object.assign({}, j, {\n  duplicate: duplicate,\n  original_mission_id: duplicate ? original_mission_id : missionId\n});\nreturn { json: out };\n"
      },
      "id": "571837b5-1597-4fea-90f0-b11c8a24b43d",
      "name": "STAFF-00 Duplicate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "isnew",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cce7600b-3022-45bd-a654-e8efa37b80b7",
      "name": "STAFF-00 Is New Mission?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        832
      ]
    },
    {
      "parameters": {},
      "id": "1a933493-20a9-4640-95db-cd7c2e488a47",
      "name": "STAFF-00 Duplicate Mission (stopped)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "mvalid",
              "leftValue": "={{ $json.missionValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "994ef40d-8da9-45fa-9ef2-7fc33313ba7f",
      "name": "STAFF-00 Is Mission Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        928
      ]
    },
    {
      "parameters": {},
      "id": "40844c3f-80c4-4fb2-91ae-40b29a3d386e",
      "name": "STAFF-00 Mission Accepted (report-only)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst m = (j.mission && typeof j.mission === 'object') ? j.mission : {};\nconst budget = (j.budget && typeof j.budget === 'object') ? j.budget : {};\n\n// Canonical supported roles (always the full universe for skipped_roles).\nconst ALL_ROLES = ['Project Coordinator', 'Archivist', 'Product Lead', 'Tech Lead', 'QA Lead', 'UX Lead', 'Security Lead', 'Supabase Steward', 'Release Manager', 'Market Analyst', 'GitHub Operator', 'Replit Operator', 'Sprint Planner', 'Critic'];\n\nconst title = (m.title || '').toString().toLowerCase();\nconst objective = (m.objective || '').toString().toLowerCase();\nconst deliverable = (m.expected_deliverable || '').toString().toLowerCase();\nconst hay = (title + ' ' + objective + ' ' + deliverable);\nfunction has(words) { for (const w of words) { if (hay.indexOf(w) !== -1) return true; } return false; }\n\n// Deterministic category detection (first match wins, ordered by risk/priority).\nlet category = 'documentation alignment';\nlet activated = ['Project Coordinator', 'Archivist', 'Product Lead'];\n\nif (has(['auth', 'rls', 'row level security', 'supabase', 'data privacy', 'private data', 'security', 'secret'])) {\n  category = 'auth/RLS/data';\n  activated = ['Project Coordinator', 'Security Lead', 'Supabase Steward', 'Tech Lead', 'QA Lead'];\n} else if (has(['bug', 'defect', 'crash', 'error', 'investigat', 'regression', 'broken', 'fix'])) {\n  category = 'bug investigation';\n  activated = ['Project Coordinator', 'QA Lead', 'Tech Lead'];\n} else if (has(['architecture', 'refactor', 'system design', 'scalab', 'design review', 'tech debt', 'technical debt'])) {\n  category = 'architecture review';\n  activated = ['Project Coordinator', 'Tech Lead', 'Product Lead', 'Archivist'];\n} else if (has(['market', 'competitor', 'research', 'analysis', 'pricing', 'segment', 'audience'])) {\n  category = 'market research';\n  activated = ['Project Coordinator', 'Market Analyst', 'Product Lead', 'Archivist'];\n} else if (has(['qa', 'test', 'beta', 'quality', 'acceptance', 'verify'])) {\n  category = 'beta QA';\n  activated = ['Project Coordinator', 'QA Lead', 'Product Lead'];\n} else if (has(['doc', 'documentation', 'readme', 'guide', 'checklist', 'align'])) {\n  category = 'documentation alignment';\n  activated = ['Project Coordinator', 'Archivist', 'Product Lead'];\n}\n\n// Dedup + preserve canonical order for activated roles.\nconst activatedSet = {};\nfor (const r of activated) { activatedSet[r] = true; }\nconst activated_roles = ALL_ROLES.filter(function (r) { return !!activatedSet[r]; });\nconst skipped_roles = ALL_ROLES.filter(function (r) { return !activatedSet[r]; });\nconst routing_reason = 'Deterministic keyword routing matched category \"' + category + '\" -> ' + activated_roles.join(', ') + '. No AI used.';\n\n// ---- per-role budget split (report-only, deterministic) --------------------\nconst available = (typeof budget.available_budget_usd === 'number') ? budget.available_budget_usd : 0;\nconst n = activated_roles.length || 1;\nconst per_role_cost = Math.floor((available / n) * 10000) / 10000;\n\nconst forbidden_actions = Array.isArray(m.forbidden_actions) ? m.forbidden_actions : [];\nconst allowed_actions = ['read', 'analyze', 'summarize', 'draft_report', 'recommend']; // report-only defaults\n\nfunction roleTask(role) {\n  return role + ' contribution for mission: ' + (m.title || '');\n}\nfunction roleGoal(role) {\n  return 'Provide a report-only ' + role + ' assessment supporting: ' + (m.objective || '');\n}\n\nconst context_packs = activated_roles.map(function (role) {\n  return {\n    mission_id: (j.mission_id || m.mission_id || '').toString(),\n    role: role,\n    task: roleTask(role),\n    goal: roleGoal(role),\n    allowed_actions: allowed_actions,\n    forbidden_actions: forbidden_actions,\n    expected_output: (m.expected_deliverable || 'Report-only assessment.'),\n    token_budget: 2000,\n    call_limit: 2,\n    cost_limit_usd: per_role_cost,\n    retry_limit: 1,\n    data_classification: 'internal-nonsensitive'\n  };\n});\n\nreturn {\n  json: Object.assign({}, j, {\n    routing_category: category,\n    activated_roles: activated_roles,\n    skipped_roles: skipped_roles,\n    routing_reason: routing_reason,\n    context_packs: context_packs\n  })\n};\n"
      },
      "id": "8a314c90-ca5b-4340-ab12-aef9a9ff1680",
      "name": "STAFF-00 Role Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  const packs = Array.isArray(j.context_packs) ? j.context_packs : [];\n  const shared = {\n    mission_id: (j.mission_id || '').toString(),\n    budget: (j.budget && typeof j.budget === 'object') ? j.budget : {},\n    guardrails: (j.mission && Array.isArray(j.mission.forbidden_actions)) ? j.mission.forbidden_actions : [],\n    activated_roles: Array.isArray(j.activated_roles) ? j.activated_roles : [],\n    skipped_roles: Array.isArray(j.skipped_roles) ? j.skipped_roles : [],\n    routing_category: (j.routing_category || '').toString(),\n    routing_reason: (j.routing_reason || '').toString()\n  };\n  for (const p of packs) {\n    out.push({ json: Object.assign({}, shared, { context_pack: p, role: (p && p.role) || '' }) });\n  }\n}\n// If no packs were produced, emit nothing (nothing to execute).\nreturn out;\n"
      },
      "id": "d1b21568-434a-4853-9329-8c46ea673dbf",
      "name": "STAFF-01 Split Context Packs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        832
      ]
    },
    {
      "parameters": {},
      "id": "0f0f3ad6-3c87-4501-a8d2-3c3ccf597b9f",
      "name": "STAFF-01 Execute Role (DISABLED)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2016,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst cp = (j.context_pack && typeof j.context_pack === 'object') ? j.context_pack : {};\nconst role = (cp.role || j.role || '').toString();\nconst mission_id = (j.mission_id || cp.mission_id || '').toString();\n\nreturn {\n  json: {\n    mission_id: mission_id,\n    role: role,\n    status: 'completed',\n    summary: 'Synthetic structural-test result for role ' + role + '. No AI was used.',\n    verified_facts: [],\n    findings: [],\n    risks: [],\n    conflicts: [],\n    recommendation: 'No recommendation (synthetic structural test).',\n    evidence: [],\n    proposed_changes: [],\n    checks: [],\n    blockers: [],\n    token_usage: 0,\n    estimated_cost_usd: 0,\n    synthetic: true,\n    report_only: true,\n    // carried forward for aggregation / governance (not part of the result schema)\n    _shared: {\n      budget: (j.budget && typeof j.budget === 'object') ? j.budget : {},\n      guardrails: Array.isArray(j.guardrails) ? j.guardrails : [],\n      activated_roles: Array.isArray(j.activated_roles) ? j.activated_roles : [],\n      skipped_roles: Array.isArray(j.skipped_roles) ? j.skipped_roles : []\n    }\n  }\n};\n"
      },
      "id": "a2fc6935-c55e-418d-bcff-5df7c9aadda3",
      "name": "STAFF-01 Synthetic Agent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst errors = [];\n\nconst mission_id = (j.mission_id || '').toString();\nconst role = (j.role || '').toString();\nconst status = (j.status || '').toString();\nconst allowedStatus = ['completed', 'blocked', 'invalid'];\n\nif (!mission_id) errors.push('missing_mission_id');\nif (!role) errors.push('missing_role');\nif (allowedStatus.indexOf(status) === -1) errors.push('unsupported_status');\n\nconst recommendation = (j.recommendation || '').toString().trim();\nconst recLower = recommendation.toLowerCase();\nconst verified_facts = Array.isArray(j.verified_facts) ? j.verified_facts : [];\nconst findings = Array.isArray(j.findings) ? j.findings : [];\nconst evidence = Array.isArray(j.evidence) ? j.evidence : [];\nconst isFactual = recommendation.length > 0 && recLower.indexOf('no recommendation') === -1 && (verified_facts.length > 0 || findings.length > 0);\nif (isFactual && evidence.length === 0) errors.push('missing_evidence_for_factual_recommendation');\n\nconst cost = Number(j.estimated_cost_usd);\nif (isNaN(cost) || cost < 0) errors.push('negative_or_invalid_cost');\n\n// Forbidden action found in proposed_changes.\nconst guardrails = (j._shared && Array.isArray(j._shared.guardrails)) ? j._shared.guardrails : [];\nconst proposed = Array.isArray(j.proposed_changes) ? j.proposed_changes : [];\nconst proposedText = JSON.stringify(proposed).toLowerCase();\nlet forbiddenHit = false;\nfor (const f of guardrails) { if (f && proposedText.indexOf(String(f).toLowerCase()) !== -1) { forbiddenHit = true; break; } }\nconst HARD = ['commit', 'branch', 'pull request', 'merge', 'deploy', 'migration', 'drop table', 'alter table', 'delete from', 'rls', 'row level security', 'auth_change', 'sql_execute'];\nif (!forbiddenHit) { for (const h of HARD) { if (proposedText.indexOf(h) !== -1) { forbiddenHit = true; break; } } }\nif (forbiddenHit) errors.push('forbidden_action_in_proposed_changes');\n\n// Secrets / private-data fields anywhere in the result.\nconst scan = JSON.stringify({ s: j.summary, r: recommendation, e: evidence, f: findings, p: proposed, b: j.blockers }).toLowerCase();\nconst SECRET = ['password', 'api_key', 'api-key', 'apikey', 'secret', 'token', '-----begin', 'ghp_', 'bearer ', '.env', 'akia'];\nlet secretHit = false;\nfor (const s of SECRET) { if (scan.indexOf(s) !== -1) { secretHit = true; break; } }\nif (secretHit) errors.push('secret_or_private_data_present');\n\nconst valid = errors.length === 0;\n\nreturn {\n  json: Object.assign({}, j, {\n    validation_valid: valid,\n    validation_status: valid ? status : 'invalid',\n    validation_errors: errors\n  })\n};\n"
      },
      "id": "ddb49ceb-41e3-4152-96bf-78c74b4d47de",
      "name": "STAFF-01 Validate Agent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet mission_id = '';\nlet activated_roles = [];\nlet skipped_roles = [];\nlet budget = {};\nconst valid_results = [];\nconst invalid_results = [];\nlet total_token_usage = 0;\nlet total_estimated_cost_usd = 0;\n\nfor (const it of items) {\n  const j = it.json || {};\n  if (!mission_id) mission_id = (j.mission_id || '').toString();\n  if (j._shared) {\n    if (activated_roles.length === 0 && Array.isArray(j._shared.activated_roles)) activated_roles = j._shared.activated_roles;\n    if (skipped_roles.length === 0 && Array.isArray(j._shared.skipped_roles)) skipped_roles = j._shared.skipped_roles;\n    if (Object.keys(budget).length === 0 && j._shared.budget) budget = j._shared.budget;\n  }\n  total_token_usage += Number(j.token_usage) || 0;\n  total_estimated_cost_usd += Number(j.estimated_cost_usd) || 0;\n\n  const compact = {\n    mission_id: j.mission_id,\n    role: j.role,\n    status: j.validation_status || j.status,\n    summary: j.summary,\n    recommendation: j.recommendation,\n    verified_facts: j.verified_facts || [],\n    findings: j.findings || [],\n    risks: j.risks || [],\n    conflicts: j.conflicts || [],\n    evidence: j.evidence || [],\n    proposed_changes: j.proposed_changes || [],\n    checks: j.checks || [],\n    blockers: j.blockers || [],\n    token_usage: j.token_usage || 0,\n    estimated_cost_usd: j.estimated_cost_usd || 0,\n    synthetic: j.synthetic === true,\n    report_only: j.report_only === true,\n    validation_errors: j.validation_errors || []\n  };\n  if (j.validation_valid) valid_results.push(compact); else invalid_results.push(compact);\n}\n\ntotal_estimated_cost_usd = Math.round(total_estimated_cost_usd * 10000) / 10000;\n\nreturn [{\n  json: {\n    mission_id: mission_id,\n    activated_roles: activated_roles,\n    skipped_roles: skipped_roles,\n    budget: budget,\n    valid_results: valid_results,\n    invalid_results: invalid_results,\n    total_token_usage: total_token_usage,\n    total_estimated_cost_usd: total_estimated_cost_usd,\n    synthetic: true,\n    report_only: true\n  }\n}];\n"
      },
      "id": "e34bbc10-fd59-43c8-93c3-852c71b9b094",
      "name": "STAFF-01 Collect Role Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst budget = (j.budget && typeof j.budget === 'object') ? j.budget : {};\nconst dispatch_budget_usd = (typeof budget.available_budget_usd === 'number') ? budget.available_budget_usd : 0;\nconst reserved_budget_usd = (typeof budget.reserved_budget_usd === 'number') ? budget.reserved_budget_usd : 0;\nconst total = Number(j.total_estimated_cost_usd) || 0;\nconst budget_exceeded = total > dispatch_budget_usd;\n\nreturn {\n  json: Object.assign({}, j, {\n    dispatch_budget_usd: dispatch_budget_usd,\n    reserved_budget_usd: reserved_budget_usd,\n    budget_exceeded: budget_exceeded,\n    budget_status: budget_exceeded ? 'blocked' : 'ok',\n    auto_retry: false\n  })\n};\n"
      },
      "id": "15219780-83ca-4766-8125-50ac7f01c05a",
      "name": "STAFF-01 Budget Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nconst valid = Array.isArray(j.valid_results) ? j.valid_results : [];\nconst invalid = Array.isArray(j.invalid_results) ? j.invalid_results : [];\nconst reasons = [];\n\n// (a) one or more invalid results\nif (invalid.length > 0) reasons.push('one_or_more_invalid_results');\n\n// (b) high-risk recommendation lacking evidence\nfor (const r of valid) {\n  const hasRisk = Array.isArray(r.risks) && r.risks.length > 0;\n  const rec = (r.recommendation || '').toString().trim().toLowerCase();\n  const hasRec = rec.length > 0 && rec.indexOf('no recommendation') === -1;\n  const hasEvidence = Array.isArray(r.evidence) && r.evidence.length > 0;\n  if (hasRisk && hasRec && !hasEvidence) { reasons.push('high_risk_recommendation_without_evidence'); break; }\n}\n\n// (c) two roles giving materially conflicting recommendations (opposite polarity)\nconst NEG = ['do not', 'avoid', 'reject', 'block', 'stop', 'remove', 'delay', 'postpone', 'must not', 'should not'];\nfunction neg(s) { for (const w of NEG) { if (s.indexOf(w) !== -1) return true; } return false; }\nconst recs = valid\n  .map(function (r) { return (r.recommendation || '').toString().trim().toLowerCase(); })\n  .filter(function (s) { return s.length > 0 && s.indexOf('no recommendation') === -1; });\nlet conflict = false;\nfor (let a = 0; a < recs.length && !conflict; a++) {\n  for (let b = a + 1; b < recs.length; b++) {\n    if (neg(recs[a]) !== neg(recs[b])) { conflict = true; break; }\n  }\n}\nif (conflict) reasons.push('materially_conflicting_recommendations');\n\nconst critic_required = reasons.length > 0;\n\n// Human-approval flag: any sensitive action proposed by any role.\nconst SENSITIVE = ['code', 'branch', 'commit', 'pull request', ' pr', 'merge', 'architecture', 'auth', 'rls', 'sql', 'migration', 'secret', 'production data', 'production', 'deploy', 'docs_index', 'knowledge debt', 'knowledge_debt', 'beta-ready', 'beta ready', 'beta_ready', 'release-ready', 'release ready', 'release_ready'];\nlet human_approval_required = false;\nconst allResults = valid.concat(invalid);\nfor (const r of allResults) {\n  const pc = JSON.stringify(r.proposed_changes || []).toLowerCase();\n  for (const s of SENSITIVE) { if (pc.indexOf(s) !== -1) { human_approval_required = true; break; } }\n  if (human_approval_required) break;\n}\n\nreturn {\n  json: Object.assign({}, j, {\n    critic_required: critic_required,\n    critic_reasons: reasons,\n    max_critic_cycles: 1,\n    human_approval_required: human_approval_required\n  })\n};\n"
      },
      "id": "b5ba0597-b5ae-4337-921e-26a195684a6b",
      "name": "STAFF-01 Conflict Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        832
      ]
    },
    {
      "parameters": {},
      "id": "9e53cfa2-3ec5-46bc-b60a-18783c670d2d",
      "name": "STAFF-02 Critic (DISABLED)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "edeb305a-37c8-40ce-a936-72fc0c0bdb55",
      "name": "STAFF-01 Coordinator Synthesis (DISABLED)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3584,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approval",
              "leftValue": "={{ $json.human_approval_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dda49289-6ab3-4d5a-8854-e18f7c3350a1",
      "name": "STAFF-01 Human Approval Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3808,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\nlet final_status = 'completed';\nconst invalid_results = Array.isArray(j.invalid_results) ? j.invalid_results : [];\nif (j.budget_exceeded) final_status = 'blocked';\nelse if (invalid_results.length > 0) final_status = 'blocked';\nelse if (j.human_approval_required) final_status = 'needs_human_approval';\n\nreturn {\n  json: {\n    staff01_result: {\n      mission_id: (j.mission_id || '').toString(),\n      status: final_status,\n      activated_roles: j.activated_roles || [],\n      skipped_roles: j.skipped_roles || [],\n      valid_results: j.valid_results || [],\n      invalid_results: j.invalid_results || [],\n      critic_required: j.critic_required === true,\n      critic_reasons: j.critic_reasons || [],\n      max_critic_cycles: 1,\n      human_approval_required: j.human_approval_required === true,\n      budget: {\n        dispatch_budget_usd: j.dispatch_budget_usd || 0,\n        reserved_budget_usd: j.reserved_budget_usd || 0,\n        total_estimated_cost_usd: j.total_estimated_cost_usd || 0,\n        budget_exceeded: j.budget_exceeded === true\n      },\n      total_token_usage: j.total_token_usage || 0,\n      total_estimated_cost_usd: j.total_estimated_cost_usd || 0,\n      synthetic: true,\n      report_only: true,\n      note: 'Structural test output only. No AI model connected. No external system was written.'\n    }\n  }\n};\n"
      },
      "id": "693d4ab7-babe-4050-b591-6de100d2b07a",
      "name": "STAFF-01 Report Only Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        832
      ]
    },
    {
      "parameters": {},
      "id": "79233c02-a647-4142-8dbf-f034fdb9d893",
      "name": "STAFF-00 Mission Rejected",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        1024
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst j = $json || {};\n\nconst mission_id = (j.mission_id || (j.mission && j.mission.mission_id) || '').toString();\nconst errorsText = (j.errorsText || (Array.isArray(j.errors) ? j.errors.join(' | ') : '')).toString();\n\n// Whitelisted, non-sensitive input summary only. Never echo raw content or secrets.\nconst m = (j.mission && typeof j.mission === 'object') ? j.mission : {};\nfunction clip(v, n) { const s = (v === null || v === undefined) ? '' : String(v); return s.length > n ? s.slice(0, n) + '...' : s; }\nconst sanitized_input_summary = {\n  title: clip(m.title, 120),\n  priority: (m.priority || '').toString(),\n  source: (m.source || '').toString(),\n  requested_by: (m.requested_by || '').toString(),\n  maximum_budget_usd: (typeof m.maximum_budget_usd === 'number') ? m.maximum_budget_usd : null,\n  has_deadline: !!m.deadline,\n  related_github_issue: (m.related_github_issue === null || m.related_github_issue === undefined) ? null : Number(m.related_github_issue)\n};\n\nconst failed_node = (j.failed_node || 'STAFF-00 Mission Validation').toString();\nconst retry_allowed = (j.retry_allowed !== undefined) ? !!j.retry_allowed : false;\n\nreturn {\n  json: {\n    staff00_error: {\n      mission_id: mission_id,\n      failed_node: failed_node,\n      execution_id: ($execution && $execution.id) ? $execution.id : '',\n      error_message: clip(errorsText || 'Mission rejected by deterministic validation.', 500),\n      retry_allowed: retry_allowed,\n      sanitized_input_summary: sanitized_input_summary\n    }\n  }\n};\n"
      },
      "id": "fd4a62e3-8f01-4e74-b6af-b2d6951421d2",
      "name": "STAFF-00 Sanitized Error Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1024
      ]
    },
    {
      "parameters": {
        "content": "## Manual credential selection required\nSelect real credentials on these nodes before any run (values are never stored here):\n- Google Drive OAuth -> Search Inbox Folder, Download Report, Move To Reviewed, Move Duplicate To Reviewed, Move To Rejected\n- GitHub -> Get Existing Issues, Create GitHub Issue\n- Gmail OAuth -> Send Success / Duplicate / Rejection Email\n\nAlso set the recipient placeholder on the three email nodes.",
        "height": 260,
        "width": 460
      },
      "id": "90a0d075-7c60-4d96-ad0b-dd8a16cb5f58",
      "name": "Sticky Note 90a0d075",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## Safety boundaries\nThis workflow ONLY: reads Inbox, validates, creates an intake ISSUE, moves the Drive file, emails a notification.\nIt NEVER commits, pushes, opens/merges PRs, edits repo files, runs SQL, touches Supabase auth/RLS, migrations, secrets, .env, or activates/edits workflows.\nGitHub is the source of truth; Drive is intake/export only.\nLabels are intentionally not sent so no new labels are auto-created.",
        "height": 240,
        "width": 460
      },
      "id": "16645d21-0dbf-4619-ab59-e6f2d013834e",
      "name": "Sticky Note 16645d21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## Synthetic test report (manual only)\nThe \"Synthetic Test Report (Manual)\" Set node holds one valid sample report and is intentionally disconnected. It never runs automatically.\nTo test validation without Drive, pin its output into \"Validate Report\".\nIt contains no real credentials or private data.",
        "height": 200,
        "width": 420
      },
      "id": "cef3cc8e-9b3e-4e11-a2a6-02b90dc6ebe9",
      "name": "Sticky Note cef3cc8e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## STAFF-00 — Daily Mission intake (Phase 1)\nDeterministic mission normalization + validation. NO AI model is called.\nSeparate lane, own manual trigger; does NOT touch the report-processing flow, credentials, folder IDs, or existing expressions.\nNormalizes to the mission schema, enforces required fields (title, objective, expected_deliverable), applies defaults (priority=normal, budget=0.75, requested_by/source=owner, mode=report-only), rejects budget <0.01 or >5 USD, generates mission_id + mission_hash + received_at, reserves 25% of budget, sets role stop threshold 75%, and caps 1 retry / 1 fallback / 1 critic cycle.\nEdit the sample in \"STAFF-00 Raw Mission Input (Sample)\" to test other missions.\n\n### Guardrails + duplicate protection\n- 16 mandatory forbidden_actions always injected + deduped (architecture_change, code_write, branch_create, pull_request_create, merge, production_deploy, auth_change, rls_change, sql_execute, migration_create_or_apply, secret_access_or_change, production_private_data_access, docs_index_edit, knowledge_debt_close, beta_ready_claim, release_ready_claim).\n- Duplicate check uses workflow static data, keyed by mission_hash, 7-day retention, max 100 records. Duplicates STOP (duplicate:true + original_mission_id) and do not continue; new missions -> duplicate:false.\n- Rejected missions emit a sanitized error (mission_id, failed_node, execution_id, error_message, retry_allowed, sanitized_input_summary). No credentials/tokens/file contents/private data/headers.",
        "height": 400,
        "width": 540
      },
      "id": "89a33a1f-7bec-4002-acc4-48cf0c9bcd53",
      "name": "Sticky Note 89a33a1f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## STAFF-00 Role Selection (deterministic, no AI)\nAfter a mission is Accepted, \"STAFF-00 Role Selection\" maps it to a role team via keyword routing over title/objective/deliverable. Categories: auth/RLS/data, bug investigation, architecture review, market research, beta QA, documentation alignment (default).\nReturns activated_roles, skipped_roles, routing_reason, and one minimal Context Pack per activated role (mission_id, role, task, goal, allowed_actions, forbidden_actions, expected_output, token_budget, call_limit, cost_limit_usd, retry_limit, data_classification).\nNo AI model is connected. \"STAFF-01 AI Role Execution\" is a DISABLED placeholder for the future AI layer.",
        "height": 300,
        "width": 520
      },
      "id": "a2831bb0-5755-44eb-9c8a-1220aa00d6fd",
      "name": "Sticky Note a2831bb0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## STAFF-01 / STAFF-02 — Role execution layer (DESIGN ONLY, AI DISABLED)\nEvery AI-execution node is DISABLED and NO model (OpenAI / OpenRouter / other) is connected. Deterministic Code nodes provide synthetic structural-test data so the plumbing can be validated without any AI. Nothing here writes to GitHub, Drive, Gmail, Supabase, or Telegram.\n\n### Flow (after STAFF-00 Role Selection)\n1. STAFF-01 Split Context Packs — fan out one item per activated role; preserves mission_id, budget, guardrails, activated/skipped roles.\n2. STAFF-01 Execute Role (DISABLED) — future: receives ONE Context Pack, returns ONE Agent Result.\n3. STAFF-01 Synthetic Agent Result — deterministic Agent Result per role, marked synthetic:true, report_only:true.\n4. STAFF-01 Validate Agent Result — checks required fields + enum status; flags missing evidence for factual recommendations, negative cost, forbidden actions in proposed_changes, secrets/private data. Emits validation_errors (codes only, no raw input).\n5. STAFF-01 Collect Role Results — valid_results, invalid_results, total_token_usage, total_estimated_cost_usd, activated_roles, skipped_roles.\n6. STAFF-01 Budget Check — blocks when total est. cost > dispatch (75%) budget; 25% reserve preserved; no auto-retry.\n7. STAFF-01 Conflict Detection — critic_required only if conflicting recommendations, high-risk-without-evidence, or invalid results. Max ONE critic cycle.\n8. STAFF-02 Critic (DISABLED) — future critic pass, no model.\n9. STAFF-01 Coordinator Synthesis (DISABLED) — future final synthesis. Output: mission_id, status(completed|blocked|needs_human_approval), activated_roles, skipped_roles, verified_facts, findings, conflicts, recommended_decision, proposed_changes, checks, blockers, token_usage, estimated_cost_usd, next_single_task.\n10. STAFF-01 Human Approval Required? — routes when proposed changes include code, branch/commit/PR/merge, architecture, auth/RLS/SQL/migrations/secrets, production data, deployment, DOCS_INDEX, Knowledge Debt closure, or beta/release-ready claims.\n11. STAFF-01 Report Only Complete — deterministic terminal; structural test output only; writes to NO external system.\n\n### Future STAFF-02 Critic design (NOT wired yet — straight-through placeholder for now)\n- Critic runs ONLY when critic_required: true.\n- Maximum critic cycles: 1.\n- Critic receives the collected role results + detected conflicts.\n- Critic returns ONE reviewed result.\n- The reviewed result continues forward to Coordinator Synthesis.\n- Do NOT route back to role execution. Do NOT create a workflow cycle. Do NOT connect any AI model.\n- Future target wiring: Conflict Detection -> IF Critic Required? -> false: Coordinator Synthesis; true: STAFF-02 Critic -> Merge Critic Result -> Coordinator Synthesis.\n- Current state: STAFF-02 Critic (DISABLED) stays as a straight-through disabled pass-through; no IF gate, no merge, no loop-back edge added yet.",
        "height": 560,
        "width": 620
      },
      "id": "53eda823-2487-4371-bbb3-8b09d612fa46",
      "name": "Sticky Note 53eda823",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## Structural test copy\nInactive test workflow. Schedule trigger disabled. STAFF-00 validates before duplicate persistence. Invalid role results block final status. AI nodes remain disabled. Do not execute the AI Report Bus branch.",
        "height": 220,
        "width": 520
      },
      "id": "6b8b0a3e-26f9-4c98-b4fb-76b68ea8c934",
      "name": "Sticky Note Structural Test Copy",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4032,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## Staff OS structural test — single run\n1. Edit **STAFF-00 Raw Mission Input (Sample)**.\n2. Start only from **STAFF-00 Mission Trigger (Manual)**.\n3. Execute the workflow once from that manual trigger.\n4. Inspect **STAFF-01 Report Only Complete** after the lane finishes.\n\n**Do not execute the terminal node directly.** n8n can reuse prior IF-path data.\n**Do not run the AI Report Bus branch.** This copy is inactive and test-only.",
        "height": 380,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        2100
      ],
      "id": "staff-os-single-run-procedure",
      "name": "STAFF-OS Single-Run Procedure"
    }
  ],
  "connections": {
    "Schedule Trigger (Every 6h)": {
      "main": [
        [
          {
            "node": "Search Inbox Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Inbox Folder": {
      "main": [
        [
          {
            "node": "Keep Only .md / .txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Dry Run)": {
      "main": [
        [
          {
            "node": "Search Inbox Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Only .md / .txt": {
      "main": [
        [
          {
            "node": "Process One Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One Report": {
      "main": [
        [
          {
            "node": "Download Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Report": {
      "main": [
        [
          {
            "node": "Read Text Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Text Content": {
      "main": [
        [
          {
            "node": "Validate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Report": {
      "main": [
        [
          {
            "node": "Is Report Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Report Valid?": {
      "main": [
        [
          {
            "node": "Get Existing Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rejection Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Issues": {
      "main": [
        [
          {
            "node": "Check For Duplicate Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Duplicate Issue": {
      "main": [
        [
          {
            "node": "Issue Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Already Exists?": {
      "main": [
        [
          {
            "node": "Move Duplicate To Reviewed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Duplicate To Reviewed": {
      "main": [
        [
          {
            "node": "Send Duplicate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Move To Reviewed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To Reviewed": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rejection Log": {
      "main": [
        [
          {
            "node": "Move To Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To Rejected": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Mission Trigger (Manual)": {
      "main": [
        [
          {
            "node": "STAFF-00 Raw Mission Input (Sample)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Raw Mission Input (Sample)": {
      "main": [
        [
          {
            "node": "STAFF-00 Normalize Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Normalize Mission": {
      "main": [
        [
          {
            "node": "STAFF-00 Is Mission Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Duplicate Check": {
      "main": [
        [
          {
            "node": "STAFF-00 Is New Mission?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Is New Mission?": {
      "main": [
        [
          {
            "node": "STAFF-00 Mission Accepted (report-only)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STAFF-00 Duplicate Mission (stopped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Is Mission Valid?": {
      "main": [
        [
          {
            "node": "STAFF-00 Duplicate Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STAFF-00 Mission Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Mission Accepted (report-only)": {
      "main": [
        [
          {
            "node": "STAFF-00 Role Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Role Selection": {
      "main": [
        [
          {
            "node": "STAFF-01 Split Context Packs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Split Context Packs": {
      "main": [
        [
          {
            "node": "STAFF-01 Execute Role (DISABLED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Execute Role (DISABLED)": {
      "main": [
        [
          {
            "node": "STAFF-01 Synthetic Agent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Synthetic Agent Result": {
      "main": [
        [
          {
            "node": "STAFF-01 Validate Agent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Validate Agent Result": {
      "main": [
        [
          {
            "node": "STAFF-01 Collect Role Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Collect Role Results": {
      "main": [
        [
          {
            "node": "STAFF-01 Budget Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Budget Check": {
      "main": [
        [
          {
            "node": "STAFF-01 Conflict Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Conflict Detection": {
      "main": [
        [
          {
            "node": "STAFF-02 Critic (DISABLED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-02 Critic (DISABLED)": {
      "main": [
        [
          {
            "node": "STAFF-01 Coordinator Synthesis (DISABLED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Coordinator Synthesis (DISABLED)": {
      "main": [
        [
          {
            "node": "STAFF-01 Human Approval Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-01 Human Approval Required?": {
      "main": [
        [
          {
            "node": "STAFF-01 Report Only Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STAFF-01 Report Only Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAFF-00 Mission Rejected": {
      "main": [
        [
          {
            "node": "STAFF-00 Sanitized Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
