docs/automation/go-irl-ai-report-bus-v1.template.json
{
  "name": "GO IRL — AI Report Bus",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "e81ce7d7-5813-4b44-a548-950310ecd8f8",
      "name": "Schedule Trigger (Every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'AI_REPORTS_INBOX_FOLDER_ID' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "id": "3f97f702-a90b-442b-842e-25d93a10665b",
      "name": "Search Inbox Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {},
      "id": "0aba212e-9d59-4191-93bb-e452e2d200d8",
      "name": "Manual Trigger (Dry Run)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ext_md",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".md",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "ext_txt",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".txt",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ffbdb995-4dfe-469d-b239-19e6b0e30f1f",
      "name": "Keep Only .md / .txt",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {},
      "id": "8f6c5cba-0658-416b-b766-5ec54cbb8010",
      "name": "Process One Report",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "f8731a4b-2509-4dd8-9a07-c9f94835503b",
      "name": "Download Report",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "c6c1ba4d-a284-4d5b-99b0-bf0ecb59526b",
      "name": "Read Text Content",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst item = items[0] || { json: {} };\nconst LF = String.fromCharCode(10);\nconst FENCE = String.fromCharCode(96, 96, 96);\n\nlet fileName = '';\ntry { fileName = ($('Download Report').first().json.name || '').toString(); } catch (e) { fileName = ''; }\nif (!fileName) { fileName = (item.json.name || item.json.fileName || 'unknown').toString(); }\n\nlet fileId = '';\ntry { fileId = ($('Download Report').first().json.id || '').toString(); } catch (e) { fileId = ''; }\nif (!fileId) { fileId = (item.json.id || '').toString(); }\n\nconst content = (item.json.data || item.json.text || '').toString();\nconst lower = content.toLowerCase();\nconst reasons = [];\n\nif (!content || content.trim().length === 0) {\n  reasons.push('File is empty.');\n}\n\nconst safeName = /^[A-Za-z0-9._-]+\\.(md|txt)$/;\nif (!safeName.test(fileName)) {\n  reasons.push('Filename is unsafe or is not a .md/.txt file.');\n}\n\nfunction metaValue(key) {\n  const re = new RegExp('^\\\\s*' + key + '\\\\s*:\\\\s*(.+?)\\\\s*$', 'im');\n  const m = content.match(re);\n  return m ? m[1].trim() : null;\n}\nconst title = metaValue('title');\nconst owner = metaValue('owner');\nconst status = metaValue('status');\nconst sot = metaValue('source_of_truth');\nconst lastReview = metaValue('last_review');\nconst nextReview = metaValue('next_review');\n\nif (!title) reasons.push('Missing metadata: title.');\nif (!owner) reasons.push('Missing metadata: owner.');\nif (!status) reasons.push('Missing metadata: status.');\nif (!sot) reasons.push('Missing metadata: source_of_truth.');\nif (!lastReview) reasons.push('Missing metadata: last_review.');\nif (!nextReview) reasons.push('Missing metadata: next_review.');\n\nif (status && status.toLowerCase() !== 'draft') reasons.push('status is not Draft.');\nif (sot && sot.toLowerCase() !== 'false') reasons.push('source_of_truth is not false.');\n\nconst requiredSections = ['# Agent Report', '## Task', '## Files inspected', '## Findings', '## Changes made', '## Checks', '## Next step'];\nfor (const s of requiredSections) {\n  if (content.indexOf(s) === -1) reasons.push('Missing required section: ' + s);\n}\n\nconst secretPatterns = [/password\\s*[:=]/i, /passwd/i, /secret\\s*[:=]/i, /api[_-]?key/i, /token\\s*[:=]/i, /-----BEGIN [A-Z ]*PRIVATE KEY-----/i, /\\.env\\b/i, /AKIA[0-9A-Z]{16}/, /bearer\\s+[a-z0-9._-]{10,}/i, /ghp_[A-Za-z0-9]{20,}/];\nfor (const p of secretPatterns) {\n  if (p.test(content)) { reasons.push('Report appears to contain credentials, tokens, secrets, or .env values.'); break; }\n}\n\nconst codeChangePatterns = ['please commit', 'auto-commit', 'automatically commit', 'push the code', 'push code', 'open a pr', 'create a pull request', 'merge the pr', 'apply this patch', 'make the change automatically', 'auto-merge', 'automatically apply', 'commit directly'];\nfor (const p of codeChangePatterns) {\n  if (lower.indexOf(p) !== -1) { reasons.push('Report requests automatic code changes.'); break; }\n}\n\nconst sensitiveOps = ['rls', 'row level security', 'supabase auth', 'change auth', 'disable auth', 'drop table', 'delete from', 'truncate', 'alter table', 'migration', 'run sql', 'execute sql', 'grant ', 'revoke '];\nfor (const p of sensitiveOps) {\n  if (lower.indexOf(p) !== -1) { reasons.push('Report requests changes to auth, Supabase RLS, destructive SQL, migrations, or secrets.'); break; }\n}\n\nconst claimsPassed = lower.indexOf('checks passed') !== -1 || lower.indexOf('all checks pass') !== -1 || lower.indexOf('tests passed') !== -1 || lower.indexOf('all tests pass') !== -1;\nconst hasEvidence = lower.indexOf(FENCE) !== -1 || lower.indexOf('output:') !== -1 || lower.indexOf('log:') !== -1 || lower.indexOf('evidence') !== -1 || /https?:\\/\\//i.test(content);\nif (claimsPassed && !hasEvidence) reasons.push('Report claims checks passed without evidence.');\n\nconst isValid = reasons.length === 0;\nconst timestamp = new Date().toISOString();\nconst issueTitle = '[AI Report Draft] ' + (title || fileName);\n\nconst bodyLines = [];\nbodyLines.push('> WARNING: This is an AI-generated DRAFT report and is NOT a source of truth. GitHub is the source of truth. No repository change has been made by this automation.');\nbodyLines.push('');\nbodyLines.push('## Intake metadata');\nbodyLines.push('- Original filename: ' + fileName);\nbodyLines.push('- Agent owner: ' + (owner || 'unknown'));\nbodyLines.push('- Last review: ' + (lastReview || 'unknown'));\nbodyLines.push('- Next review: ' + (nextReview || 'unknown'));\nbodyLines.push('- Status: ' + (status || 'unknown'));\nbodyLines.push('- source_of_truth: ' + (sot || 'unknown'));\nbodyLines.push('- Intake timestamp: ' + timestamp);\nbodyLines.push('');\nbodyLines.push('## Manual review checklist');\nbodyLines.push('- [ ] Report content reviewed by a human');\nbodyLines.push('- [ ] No secrets or credentials present');\nbodyLines.push('- [ ] No unauthorized auth / RLS / SQL / migration requests');\nbodyLines.push('- [ ] Claims verified against actual repository state');\nbodyLines.push('- [ ] Decision recorded (accept / reject / follow-up)');\nbodyLines.push('');\nbodyLines.push('## Automation note');\nbodyLines.push('Created automatically by the GO IRL — AI Report Bus n8n workflow as an intake record only. n8n does not make product, architecture, security, or release decisions. No repository file was created, edited, committed, merged, or deleted.');\nbodyLines.push('');\nbodyLines.push('## Full report content');\nbodyLines.push(FENCE + 'markdown');\nbodyLines.push(content);\nbodyLines.push(FENCE);\nconst issueBody = bodyLines.join(LF);\n\nreturn [{ json: { fileName, fileId, title, owner, status, sourceOfTruth: sot, lastReview, nextReview, isValid, reasons: reasons.join(' | '), reasonsList: reasons, content, timestamp, issueTitle, issueBody } }];\n"
      },
      "id": "cdcda513-3a83-4fb9-bf31-95d1c59f4e90",
      "name": "Validate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "93092382-9561-4f6e-8d2c-3b77a1bcfd03",
      "name": "Is Report Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_OWNER"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_REPOSITORY"
        },
        "returnAll": true,
        "getRepositoryIssuesFilters": {
          "state": "all"
        }
      },
      "id": "93918e5f-da07-42f9-a9be-fee4f274399b",
      "name": "Get Existing Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1792,
        96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst issues = $input.all();\nconst v = $('Validate Report').first().json;\nconst fileName = (v.fileName || '').toString();\nconst expectedTitle = (v.issueTitle || '').toString();\nlet isDuplicate = false;\nlet existingIssueUrl = '';\nlet existingIssueNumber = '';\nfor (const it of issues) {\n  const j = it.json || {};\n  const t = (j.title || '').toString();\n  const b = (j.body || '').toString();\n  const titleMatch = expectedTitle && t === expectedTitle;\n  const fileMatch = fileName && (t.indexOf(fileName) !== -1 || b.indexOf(fileName) !== -1);\n  if (titleMatch || fileMatch) {\n    isDuplicate = true;\n    existingIssueUrl = (j.html_url || '').toString();\n    existingIssueNumber = (j.number || '').toString();\n    break;\n  }\n}\nreturn [{ json: Object.assign({}, v, { isDuplicate, existingIssueUrl, existingIssueNumber }) }];\n"
      },
      "id": "5041b56d-65e1-460f-b59e-bf749dcb598f",
      "name": "Check For Duplicate Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dup",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d22cab81-8da7-45ef-99ad-0dea17b4dd84",
      "name": "Issue Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        96
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Validate Report\").first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "AI_REPORTS_REVIEWED_FOLDER_ID"
        }
      },
      "id": "c106a432-c1b9-4383-9f54-31fe6b2eb6ac",
      "name": "Move Duplicate To Reviewed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2464,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_NOTIFICATION_EMAIL",
        "subject": "GO IRL AI report ready for review",
        "emailType": "text",
        "message": "=Result: ALREADY EXISTS (existing issue reused, no new issue created)\nFilename: {{ $(\"Validate Report\").first().json.fileName }}\nGitHub issue: {{ $(\"Check For Duplicate Issue\").first().json.existingIssueUrl }}\n\nThe report has been moved to AI Reports/Reviewed. This report is a DRAFT and is not a source of truth. No repository change was made.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5591f957-d463-496d-9647-12a47b8a12fb",
      "name": "Send Duplicate Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2688,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_OWNER"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "GITHUB_REPOSITORY"
        },
        "title": "={{ $json.issueTitle }}",
        "body": "={{ $json.issueBody }}",
        "labels": [],
        "assignees": []
      },
      "id": "e4fdf0e1-3566-4eca-8349-b0388b3df1d3",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2464,
        192
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Validate Report\").first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "AI_REPORTS_REVIEWED_FOLDER_ID"
        }
      },
      "id": "0d1b6b97-dc85-489d-8218-396175393634",
      "name": "Move To Reviewed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2688,
        192
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_NOTIFICATION_EMAIL",
        "subject": "GO IRL AI report ready for review",
        "emailType": "text",
        "message": "=Result: READY FOR REVIEW\nFilename: {{ $(\"Validate Report\").first().json.fileName }}\nGitHub issue: {{ $(\"Create GitHub Issue\").first().json.html_url }}\n\nThe report has been moved to AI Reports/Reviewed. This report is a DRAFT and is not a source of truth. No repository change was made.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c83541b5-99cf-4d90-9e9e-47d056e4f2d4",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2912,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst v = $('Validate Report').first().json;\nconst LF = String.fromCharCode(10);\nconst lines = [];\nlines.push('GO IRL AI Report - Rejection Log');\nlines.push('Filename: ' + (v.fileName || 'unknown'));\nlines.push('Result: REJECTED');\nlines.push('Timestamp: ' + new Date().toISOString());\nlines.push('Reasons:');\nconst rl = v.reasonsList || [];\nfor (const r of rl) { lines.push('- ' + r); }\nreturn [{ json: { fileName: v.fileName, result: 'REJECTED', reasons: v.reasons, reasonsList: rl, logText: lines.join(LF), timestamp: new Date().toISOString() } }];\n"
      },
      "id": "c52c62ec-5097-4d96-a130-518b655c9d6c",
      "name": "Build Rejection Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        288
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Validate Report\").first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "AI_REPORTS_REJECTED_FOLDER_ID"
        }
      },
      "id": "3382f2b0-a65f-4bde-bc3d-ded54a330cb7",
      "name": "Move To Rejected",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        288
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_NOTIFICATION_EMAIL",
        "subject": "GO IRL AI report rejected",
        "emailType": "text",
        "message": "=Result: REJECTED\nFilename: {{ $(\"Validate Report\").first().json.fileName }}\nRejection reasons: {{ $(\"Validate Report\").first().json.reasons }}\n\nThe report has been moved to AI Reports/Rejected. No GitHub issue was created and no repository change was made.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "4eb07335-267c-4ffa-877c-d644059d7a99",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2240,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "name",
              "type": "string",
              "value": "agent-report-sample.md"
            },
            {
              "id": "s2",
              "name": "data",
              "type": "string",
              "value": "---\ntitle: Agent Report\nowner: QA Agent\nstatus: Draft\nsource_of_truth: false\nlast_review: 2026-07-10\nnext_review: 2026-07-24\n---\n\n# Agent Report\n\n## Task\nReview beta event categories for the Olomouc closed beta.\n\n## Files inspected\n- docs/beta/categories.md\n- docs/beta/flow.md\n\n## Findings\nThe six canonical categories are present and consistent with the beta flow.\n\n## Changes made\nNone. This report is a draft observation only and proposes no repository changes.\n\n## Checks\nRan the documentation lint locally.\noutput:\nlint: 0 errors, 0 warnings\nSee evidence log above.\n\n## Next step\nHuman maintainer to confirm category ordering in a follow-up review.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "e1ca0b8f-6669-4bcf-addd-fb8e228c4d72",
      "name": "Synthetic Test Report (Manual)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        512
      ]
    },
    {
      "parameters": {
        "content": "## Manual credential selection required\nSelect real credentials after import; credential bindings are intentionally removed from this public template:\n- Google Drive OAuth -> Search Inbox Folder, Download Report, Move To Reviewed, Move Duplicate To Reviewed, Move To Rejected\n- GitHub -> Get Existing Issues, Create GitHub Issue\n- Gmail OAuth -> Send Success / Duplicate / Rejection Email\n\nSet YOUR_NOTIFICATION_EMAIL and replace all folder/repository placeholders before any run.",
        "height": 260,
        "width": 460
      },
      "id": "17dc2063-d582-4b7b-a8ea-57b6f3a17ad0",
      "name": "Sticky Note 17dc2063",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        576
      ]
    },
    {
      "parameters": {
        "content": "## Safety boundaries\nThis workflow ONLY: reads Inbox, validates, creates an intake ISSUE, moves the Drive file, emails a notification.\nIt NEVER commits, pushes, opens/merges PRs, edits repo files, runs SQL, touches Supabase auth/RLS, migrations, secrets, .env, or activates/edits workflows.\nGitHub is the source of truth; Drive is intake/export only.\nLabels are intentionally not sent so no new labels are auto-created.",
        "height": 240,
        "width": 460
      },
      "id": "a122b6c4-5205-4a37-8121-48e062200a15",
      "name": "Sticky Note a122b6c4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        576
      ]
    },
    {
      "parameters": {
        "content": "## Synthetic test report (manual only)\nThe \"Synthetic Test Report (Manual)\" Set node holds one valid sample report and is intentionally disconnected. It never runs automatically.\nTo test validation without Drive, pin its output into \"Validate Report\".\nIt contains no real credentials or private data.",
        "height": 200,
        "width": 420
      },
      "id": "b7a76fd3-4f8e-4be9-9bb9-8995f0698a4f",
      "name": "Sticky Note b7a76fd3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        576
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Every 6h)": {
      "main": [
        [
          {
            "node": "Search Inbox Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Inbox Folder": {
      "main": [
        [
          {
            "node": "Keep Only .md / .txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Dry Run)": {
      "main": [
        [
          {
            "node": "Search Inbox Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Only .md / .txt": {
      "main": [
        [
          {
            "node": "Process One Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One Report": {
      "main": [
        [
          {
            "node": "Download Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Report": {
      "main": [
        [
          {
            "node": "Read Text Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Text Content": {
      "main": [
        [
          {
            "node": "Validate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Report": {
      "main": [
        [
          {
            "node": "Is Report Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Report Valid?": {
      "main": [
        [
          {
            "node": "Get Existing Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rejection Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Issues": {
      "main": [
        [
          {
            "node": "Check For Duplicate Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Duplicate Issue": {
      "main": [
        [
          {
            "node": "Issue Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Already Exists?": {
      "main": [
        [
          {
            "node": "Move Duplicate To Reviewed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Duplicate To Reviewed": {
      "main": [
        [
          {
            "node": "Send Duplicate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Move To Reviewed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To Reviewed": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rejection Log": {
      "main": [
        [
          {
            "node": "Move To Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To Rejected": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "tags": []
}